#theme-switcher {
  display: inline-flex;
  /* Use inline-flex to size based on content */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  // margin-top: 20px;
  // border-radius: 10px;
  color: var(--tx-1);
  border: 2px solid var(--bg-1);
  // background: var(--bg-1);

  &,
  button {
    padding: 5px 5.1px;
    border-radius: 10px;
  }

  button {
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    transition: background-color 0.2s ease, color 0.2s ease,
      text-decoration 0.2s ease;
    display: flex;
    align-items: center;

    svg,
    div,
    span {
      pointer-events: none;
      /* Ensure icon or more element itself doesn't block clicks */
    }

    /* Ensure the icon has some space around it to make it easier to click */
    svg {
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;
      vertical-align: middle;
    }

    &[aria-label]::before {
      content: attr(aria-label);
      position: absolute;
      bottom: 115%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.5em;
      background: var(--bg-1);
      color: var(--tx-1);
      font-size: 0.8em;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.2s ease;
      white-space: nowrap;
      pointer-events: none;
      /* Ensure tooltip doesn't block click events */
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover,
    &.active {
      border-radius: 50%;
      background: var(--bg-1);
    }

    .visually-hidden {
      // display: inline-flex;
      display: none;
      margin-left: 5px;
    }
  }
}
