.external-link {
  width: 18px;
  height: 18px;
}

.site-navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

// 1
.site-logo {
  margin-right: auto;

  @keyframes popupAndBurst {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  .logo {
    color: var(--lk-1);
    font: bold 2em/1 "cormorant garamond", sans-serif;
    letter-spacing: -0.85px;
    word-spacing: -2px;
    text-transform: lowercase;
    white-space: nowrap;
    display: inline-block;

    &-anim {
      color: var(--tx-1);
      font-size: 1em;
      font-family: "Sacramento", cursive;
      text-transform: uppercase;
      display: inline-block;
      // animation: popupAndBurst 3s forwards;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: var(--tx-1);
    }
  }
}

// 2
.site-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-item {
    margin-left: 1rem;
  }

  .menu-link {
    text-decoration: none;
    color: var(--tx-1);

    &:hover {
      color: var(--lk-1);
    }
  }
}

// 3
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 3;

  .line {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 3px;
    background: var(--tx-1);
    transition: all 0.3s ease-in-out;
  }

  &.active .line {
    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .site-menu,
  .hamburger {
    display: block;
  }

  .site-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2em 0;
    background: var(--bg-2);
    transition: right 0.3s ease-in-out;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.active {
      right: 0 !important;
    }
  }

  .menu-item {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
