@use "../utils" as *;

/**
 * Task list
 */
.task-list {
  @include reset-list();

  &-item {
    display: block;
    margin: 0;

    &:last-child {
      margin-bottom: var(--gutter-x);
    }

    svg {
      &.task-list-checked {
        max-width: 18px;
        color: var(--green);
      }

      &.task-list-unchecked {
        max-width: 17px;
        color: currentColor;
      }
    }

    input {
      // cursor: not-allowed;
      margin-right: $spacing-unit * 0.5;
    }
  }
}
