@use "../utils" as *;

/**
 * Theme toggle
 */
#theme-toggle {
  --border-radius: 2em;
  --border-size: 0.0625em;
  display: inline-block;
  background: transparent;
  border: var(--border-size) solid var(--bd-1);
  border-radius: var(--border-radius);

  button {
    cursor: pointer;
    padding: 2px;
    color: currentColor;
    background: transparent;
    transition: background 0.3s ease;
    border: var(--border-size) solid transparent;
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    &:nth-child(2) {
      border-radius: 0;
    }

    &:nth-child(3) {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    &.active {
      background: var(--bg-3);
    }
  }

  span,
  svg {
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
  }
}
