---
layout: default
---
<article
  class="standalone"
  itemscope
  itemtype="https://schema.org/BlogPosting"
  itemid="{{ page.url | absolute_url }}"
>
  <meta itemprop="wordCount" content="{{ page.content | strip_html | size }}">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <div>
      <p>
        <strong>Author:</strong>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">
            {%- assign author_name = site.author.name | default: page.author -%}
            {%- assign author_url = site.author.url | default: '' -%}
            {% if author_url %}
              <a itemprop="url" href="{{ author_url }}">{{ author_name | escape }}</a>
            {% else %}
              {{ author_name }}
            {% endif %}
          </span>
        </span>
        {%- assign date_format = site.date_format | default: '%B %d, %Y' -%}
        {%- assign modified_date = page.modified_date | default: page.last_modified_at -%}
        {%- assign date_upload = page.date | date: date_format -%}
        {%- assign date_update = modified_date | date: date_format -%}
        <strong>Published:</strong>
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {{- date_upload -}}
        </time>
        {% if date_update != date_upload %}
          <strong>Modified:</strong>
          <time itemprop="dateModified" datetime="{{ modified_date | date_to_xmlschema }}">
            {{- date_update -}}</time
          >.
        {% endif %}
      </p>
    </div>
  </header>
  <section itemprop="articleBody">
    {% if page.toc %}
      <details open>
        <summary>Table of content</summary>
        {{ content | toc_only }}
      </details>
    {% endif %}
    <div>
      {{ content | inject_anchors }}
    </div>
  </section>
  <footer>
    {% if page.tags or page.categories %}
      <div>
        {% if page.tags %}
          <p>
            <strong>Tags:</strong>
            <span itemprop="keywords">
              {%- for tag in page.tags %}
                <a href="/tags/{{- tag -}}/">{{- tag -}}</a>
                {%- unless forloop.last %}&comma; {% endunless -%}
              {% endfor -%}
            </span>
          </p>
        {% endif %}
        {% if page.categories != empty %}
          <p>
            <strong>Categories:</strong>
            <span itemprop="articleSection">
              {% for category in page.categories %}
                <a href="/categories/{{- category -}}/">{{- category -}}</a>
                {%- unless forloop.last %}&comma; {% endunless -%}
              {% endfor %}
            </span>
          </p>
        {% endif %}
      </div>
    {% endif %}

    {% if page.comments %}
      <div
        itemscope
        itemtype="https://schema.org/Comment"
        {% if site.comments.provider == 'disqus' %}
          id="disqus_thread"
        {% else %}
          id="{{ site.comments.provider }}"
        {% endif %}
        class="{{ site.comments.provider }}"
      ></div>
    {% endif %}
  </footer>
</article>
