/* Character encoding */
@charset "utf-8";
@import "reset";

/* Font Family Settings */
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, $font-family-emoji;
$font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
  "Liberation Mono", monospace, $font-family-emoji;

/* Global Reset */
* {
  background-color: inherit;
  color: inherit;
  padding: 0;
}

/* Body Styling */
body {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: rgb(22, 23, 26);
}

/* Main Layout Styling */
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

/* Figure Caption Styling */
figcaption {
  font-size: smaller;
}

/* Navigation Styling */
nav ul {
  border-right: 1px solid #edf2f7;
}

/* List Styling */
ul {
  margin: 0;
  padding-left: 10px;
}

ul li {
  padding: 3px 0;
}

/* Anchor Link Styling */
a {
  color: #000;
  text-decoration: underline;
}

/* Code Block Styling */
pre {
  margin: 0.5rem 0;
  padding: 1rem;
  background: rgb(236, 237, 238);
  overflow-x: auto;
}

/* Inline Code Styling */
code {
  background: rgb(236, 237, 238);
  border-radius: 5px;
  padding: 2px;
}

/* Image Styling */
img {
  max-width: 100%;
}

/* Horizontal Rule Styling */
hr {
  border: 0;
  border-top: 2px solid #000;
  margin: 20px 0;
  opacity: 0.6;
  height: 1px;
}

/* Description List Styling */
dl {
  margin: 1rem 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/* Header Styling */
header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.2rem;
    text-align: right;
    margin-right: 2rem;
  }

  a.active {
    font-weight: bold;
  }
}

/* Section Styling */
section {
  padding: 1rem;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;

  h1:first-child {
    margin-top: 0;
  }
}

/* Heading Styling */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}

/* Strong and Bold Styling */
strong,
b {
  font-weight: bold;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

thead {
  background-color: #f8f9fa;
  color: #343a40;
}

tr {
  border-bottom: 1px solid #dee2e6;
}

td,
th {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  text-align: left;
}

tr:hover {
  background-color: #f1f3f5;
}

/* Blockquote Styling */
blockquote {
  font-style: italic;
  border-left: 5px solid #ececec;
  padding-left: 1rem;
  border-radius: 5px;
}

/* Prompts Styling */
blockquote[class^="prompt-"] {
  padding: 5px;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-style: normal;

  &.prompt-tip {
    background-color: #d4edda;
    color: #155724;
    border-left: 5px solid #c3e6cb;
  }

  &.prompt-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-left: 5px solid #bee5eb;
  }

  &.prompt-warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: 5px solid #ffeeba;
  }

  &.prompt-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #f5c6cb;
  }
}

/* Post Styling */
.post {
  p {
    margin: 0.5rem 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1rem 0;
  }

  h2:first-child {
    margin-top: 0;
  }

  li {
    list-style-position: inside;
  }
}

/* Posts Styling */
.posts ul {
  list-style: none;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  a,
  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
  }
}

/* Photo Section Styling */
.photo h2:first-child {
  margin-top: 0;
}

.photo picture {
  margin-bottom: 0.5rem;
}

.photos ul {
  list-style: none;
}

.photos li {
  margin-bottom: 1.5rem;
}

/* Meta Section Styling */
.meta {
  margin: 2rem 0;
}

/* Project Styling */
.project {
  h2:first-child {
    margin-top: 0;
  }
  picture {
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-position: inside;
  }
}

/* Projects Styling */
.projects li {
  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
  }
}

/* Mobile Device Styling */
@media screen and (max-width: 45rem) {
  .logo {
    padding-bottom: 1rem;
  }
  .photos ul {
    margin-top: 0.5rem;
  }
  header {
    ul {
      text-align: center;
      border-bottom: 1px solid #edf2f7;
      padding-bottom: 2rem;
    }
    li {
      display: inline;
      margin-right: 1rem;
    }
  }
  nav ul {
    border-right: 0px;
  }
}

/* Print Media Styling */
@media print {
  .no-print {
    display: none !important;
  }
}

#task-list,
.task-list {
  li input[type="checkbox"] {
    margin-right: 12px;
  }
}

.highlight {
  color: #f8f8f2;
  background-color: #49483e;
  code {
    background: transparent;
  }
  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }
  .c {
    color: #75715e;
    font-style: italic;
  }
  .ch {
    color: #75715e;
    font-style: italic;
  }
  .cd {
    color: #75715e;
    font-style: italic;
  }
  .cpf {
    color: #75715e;
    font-style: italic;
  }
  .cm {
    color: #75715e;
    font-style: italic;
  }
  .c1 {
    color: #75715e;
    font-style: italic;
  }
  .cp {
    color: #75715e;
    font-weight: bold;
  }
  .cs {
    color: #75715e;
    font-weight: bold;
    font-style: italic;
  }
  .err {
    color: #960050;
    background-color: #1e0010;
  }
  .gi {
    color: #ffffff;
    background-color: #324932;
  }
  .gd {
    color: #ffffff;
    background-color: #493131;
  }
  .ge {
    color: #000000;
    font-style: italic;
  }
  .gr {
    color: #aa0000;
  }
  .gt {
    color: #aa0000;
  }
  .gh {
    color: #999999;
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: #aaaaaa;
  }
  .k {
    color: #66d9ef;
    font-weight: bold;
  }
  .kv {
    color: #66d9ef;
    font-weight: bold;
  }
  .kc {
    color: #66d9ef;
    font-weight: bold;
  }
  .kd {
    color: #66d9ef;
    font-weight: bold;
  }
  .kp {
    color: #66d9ef;
    font-weight: bold;
  }
  .kr {
    color: #66d9ef;
    font-weight: bold;
  }
  .kt {
    color: #66d9ef;
    font-weight: bold;
  }
  .kn {
    color: #f92672;
    font-weight: bold;
  }
  .ow {
    color: #f92672;
    font-weight: bold;
  }
  .o {
    color: #f92672;
    font-weight: bold;
  }
  .mf {
    color: #ae81ff;
  }
  .mh {
    color: #ae81ff;
  }
  .il {
    color: #ae81ff;
  }
  .mi {
    color: #ae81ff;
  }
  .mo {
    color: #ae81ff;
  }
  .m {
    color: #ae81ff;
  }
  .mb {
    color: #ae81ff;
  }
  .mx {
    color: #ae81ff;
  }
  .se {
    color: #ae81ff;
  }
  .sa {
    color: #66d9ef;
    font-weight: bold;
  }
  .sb {
    color: #e6db74;
  }
  .sc {
    color: #e6db74;
  }
  .sd {
    color: #e6db74;
  }
  .s2 {
    color: #e6db74;
  }
  .sh {
    color: #e6db74;
  }
  .si {
    color: #e6db74;
  }
  .sx {
    color: #e6db74;
  }
  .sr {
    color: #e6db74;
  }
  .s1 {
    color: #e6db74;
  }
  .ss {
    color: #e6db74;
  }
  .s {
    color: #e6db74;
  }
  .dl {
    color: #e6db74;
  }
  .na {
    color: #a6e22e;
  }
  .nc {
    color: #a6e22e;
    font-weight: bold;
  }
  .nd {
    color: #a6e22e;
    font-weight: bold;
  }
  .ne {
    color: #a6e22e;
    font-weight: bold;
  }
  .nf {
    color: #a6e22e;
    font-weight: bold;
  }
  .fm {
    color: #a6e22e;
    font-weight: bold;
  }
  .no {
    color: #66d9ef;
  }
  .bp {
    color: #f8f8f2;
  }
  .nb {
    color: #f8f8f2;
  }
  .ni {
    color: #f8f8f2;
  }
  .nn {
    color: #f8f8f2;
  }
  .vc {
    color: #f8f8f2;
  }
  .vg {
    color: #f8f8f2;
  }
  .vi {
    color: #f8f8f2;
  }
  .nv {
    color: #f8f8f2;
  }
  .vm {
    color: #f8f8f2;
  }
  .w {
    color: #f8f8f2;
  }
  .nl {
    color: #f8f8f2;
    font-weight: bold;
  }
  .nt {
    color: #f92672;
  }
}
