@charset "utf-8";

$color-scheme-auto: true !default;
$color-scheme-dark: false !default;

:root {
  @include color-theme(
    $scheme: light,
    $rebase00: $base07,
    $rebase01: $base06,
    $rebase02: $base05,
    $rebase03: $base04,
    $rebase04: $base03,
    $rebase05: $base02,
    $rebase06: $base01,
    $rebase07: $base00
  );
}

// for switch theme
[data-theme="dark"] {
  @include color-theme(
    $scheme: dark,
    $rebase00: $base00,
    $rebase01: $base01,
    $rebase02: $base02,
    $rebase03: $base03,
    $rebase04: $base04,
    $rebase05: $base05,
    $rebase06: $base06,
    $rebase07: $base07
  );
}

@if $color-scheme-auto {
  @media (prefers-color-scheme: dark) {
    :root {
      @include color-theme(
        $scheme: dark,
        $rebase00: $base00,
        $rebase01: $base01,
        $rebase02: $base02,
        $rebase03: $base03,
        $rebase04: $base04,
        $rebase05: $base05,
        $rebase06: $base06,
        $rebase07: $base07
      );
    }
  }
} @else if $color-scheme-dark {
  :root {
    @include color-theme(
      $scheme: dark,
      $rebase00: $base00,
      $rebase01: $base01,
      $rebase02: $base02,
      $rebase03: $base03,
      $rebase04: $base04,
      $rebase05: $base05,
      $rebase06: $base06,
      $rebase07: $base07
    );
  }
}
