{%- if paginator.posts.size > 0 -%}
  {%- assign posts = paginator.posts -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif %}
<div class="blog-card">
  <ul class="blog-card__list">
    {% for post in posts limit: include.total %}
      <li class="blog-card__item">
        <a class="blog-card__link" href="{{ post.url | absolute_url }}">
          {%- if include.cover and post.image %}
            {%- assign img_url = post.image.url | default: post.image | absolute_url %}
            {%- assign img_alt = post.image.alt | default: post.title %}
            <img class="blog-card__image" src="{{ img_url }}" alt="{{ img_alt }}">
          {%- endif %}
          <h2 class="blog-card__title">{{ post.title }}</h2>
          {%- if post.excerpt.size > 300 -%}
            {%- assign post_excerpt = post.excerpt -%}
          {%- else -%}
            {%- assign post_excerpt = post.description | default: post.content -%}
          {%- endif %}
          <p class="blog-card__desc">{{ post_excerpt | strip_html | truncatewords: 50, '...' }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
