{% if page.comments == true and site.comments.provider != empty %}
  <div
    {% if site.comments.provider == 'disqus' %}
      id="disqus_thread"
    {% else %}
      id="{{ site.comments.provider }}"
    {% endif %}
    class="{{ site.comments.provider }} site-comments"
    itemscope
    itemtype="https://schema.org/Comment"
  ></div>
  {% case site.comments.provider %}
    {% when 'disqus' %}
      <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        var disqus_shortname = '{{ site.comments.disqus.shortname }}';
        var disqus_config = function () {
          this.page.url = '{{- page.url | absolute_url -}}';
          this.page.identifier = '{{- page.url | absolute_url -}}';
        };
        (function () {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement('script');
          s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript
        >Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
      >
    {% when 'giscus' %}
      <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
          const giscusTheme = localStorage.getItem('theme') || 'preferred_color_scheme';
          const script = document.createElement('script');
          script.src = 'https://giscus.app/client.js';
          script.setAttribute('data-repo', '{{- site.comments.giscus.repo -}}');
          script.setAttribute('data-repo-id', '{{- site.comments.giscus.repo_id -}}');
          script.setAttribute('data-category', '{{- site.comments.giscus.category -}}');
          script.setAttribute('data-category-id', '{{- site.comments.giscus.category_id -}}');
          script.setAttribute('data-mapping', "{{- site.comments.giscus.mapping | default: 'pathname' -}}");
          script.setAttribute('data-strict', '{{- site.comments.giscus.strict | default: 0 -}}');
          script.setAttribute('data-reactions-enabled', '{{- site.comments.giscus.reactions_enabled | default: 1 -}}');
          script.setAttribute('data-emit-metadata', '{{- site.comments.giscus.metadata | default: 0 -}}');
          script.setAttribute('data-theme', giscusTheme);
          script.setAttribute('data-lang', "{{- site.comments.giscus.lang | default: site.lang | default: 'en' -}}");
          script.setAttribute('data-loading', 'lazy');
          script.setAttribute('crossorigin', 'anonymous');
          script.async = true;
          document.body.appendChild(script);
        });
      </script>
  {% endcase %}
{% endif %}
<!-- data-theme="https://giscus.app/themes/custom_example.css" -->
