{%- if page.comments == true and site.comments.provider %}
  {%- assign ELEMENT_TAG = '{{ ELEMENT_TAG }}' %}
  {%- assign PROVIDER_NAME = site.comments.provider %}
  {%- assign PROVIDER_DATA = site.comments[PROVIDER_NAME] %}
  <div
    {%- if PROVIDER_NAME == 'disqus' %}
      id="disqus_thread"
    {%- else %}
      id="{{ ELEMENT_TAG }}"
    {%- endif %}
    class="{{ PROVIDER_NAME }}"
    itemscope
    itemtype="https://schema.org/Comment"
  ></div>
  {%- case PROVIDER_NAME %}
    {%- when 'disqus' %}
      <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        var disqus_config = function () {
          this.page.url = '{{ page.url | absolute_url }}';
          this.page.identifier = '{{ page.id }}';
        };
        (function () {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement('script');
          s.src = 'https://{{ PROVIDER_DATA.shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.getElementById('{{ ELEMENT_TAG }}') || d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript
        >Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
      >
    {%- when 'giscus' %}
      <script>
        (function () {
          const giscusTheme = THEME.giscus[getTheme()];
          const giscusAttributes = {
            src: 'https://giscus.app/client.js',
            'data-repo': '{{ PROVIDER_DATA.repo }}',
            'data-repo-id': '{{ PROVIDER_DATA.repo_id }}',
            'data-category': '{{ PROVIDER_DATA.category }}',
            'data-category-id': '{{ PROVIDER_DATA.category_id }}',
            'data-mapping': "{{ PROVIDER_DATA.mapping | default: 'pathname' }}",
            'data-strict': '{{ PROVIDER_DATA.strict | default: 0 }}',
            'data-reactions-enabled': '{{ PROVIDER_DATA.reactions_enabled | default: 1 }}',
            'data-emit-metadata': '{{ PROVIDER_DATA.metadata | default: 0 }}',
            'data-theme': giscusTheme,
            'data-lang': "{{ PROVIDER_DATA.lang | default: site.lang | default: 'en' }}",
            'data-loading': 'lazy',
            crossorigin: 'anonymous',
            async: true,
          };
          const giscusScript = document.createElement('script');
          Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
          document.getElementById('{{ ELEMENT_TAG }}').appendChild(giscusScript);
        })();
      </script>
    {%- when 'utterances' %}
      <script>
        (function () {
          const utterancesTheme = THEME.utterances[getTheme()];
          const utterancesAttributes = {
            src: 'https://utteranc.es/client.js',
            label: '{{ PROVIDER_DATA.label }}',
            repo: '{{ PROVIDER_DATA.repo }}',
            'issue-term': "{{ PROVIDER_DATA.issue_term | default: 'pathname' }}",
            theme: utterancesTheme,
            crossorigin: 'anonymous',
            async: true,
          };
          const utterancesScript = document.createElement('script');
          Object.entries(utterancesAttributes).forEach(([key, value]) => utterancesScript.setAttribute(key, value));
          document.getElementById('{{ ELEMENT_TAG }}').appendChild(utterancesScript);
        })();
      </script>
  {%- endcase %}
{%- endif %}
