<figure>
  <a href="{{ include.url | default: page.url | relative_url }}">
    <img
      itemprop="image"
      src="{{ include.src | default: page.image.url | default: page.image | relative_url }}"
      alt="{{ include.alt | default: page.image.alt | default: page.title | strip }}"
      style="max-width:{{ include.max | default: '100%' }};"
    >
  </a>
  <figcaption>
    {%- if include.txt or include.str %}
      {{ include.txt | default: include.str | strip | remove: '"' | remove: "'" }}
    {%- else %}
      {{ page.title }} Image's
    {%- endif %}
  </figcaption>
</figure>
