<footer class="footer">
  <div class="container">
    <div id="theme-switcher" class="theme-switcher">
      <button id="system-mode" class="theme-switcher-button" aria-label="System mode">
        {% include icons.html id="device-imac" %}
      </button>
      <button id="light-mode" class="theme-switcher-button" aria-label="Light mode">
        {% include icons.html id="sun" %}
      </button>
      <button id="dark-mode" class="theme-switcher-button" aria-label="Dark mode">
        {% include icons.html id="moon-stars" %}
      </button>
    </div>
    <button id="scroll-top__link" aria-label="Go to top">
      {% include icons.html id="chevron-up" %}
    </button>
  </div>
</footer>
