<header>
  <div class="site-title">
    <h1>
      <a href="{{- '/' | relative_url -}}">{{ site.name | default: site.title }}</a>
    </h1>
    <p>{{ site.tagline | default: site.description }}</p>
  </div>
  <nav>
    <a href="{{- '/' | relative_url -}}">Home</a> &#47;
    {% assign nav_items = site.data.navigation %}
    {% for item in nav_items %}
      {%- if item.url contains 'http://' or item.url contains 'https://' -%}
        <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
      {%- else -%}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {%- endif -%}
      {% unless forloop.last %} &#47; {% endunless %}
    {% endfor %}
  </nav>
</header>
