<header>
  <div>
    <h1>{{ site.name | default: site.title }}</h1>
    <p>{{ site.tagline | default: site.description }}</p>
  </div>
  <nav>
    <ul>
      {% assign navigations = site.navigations | default: site.data.navigation %}
      {% for item in navigations %}
        {% assign title = item.name | default: item.title | escape %}
        {% assign links = item.link | default: item.url %}
        {% assign is_http = links | split: '/' | first %}
        {% assign is_feed = links | split: '/' | last %}
        <li>
          {% if is_http == 'http:' or is_http == 'https:' or is_feed == 'feed.xml' %}
            <a href="{{- links -}}" target="_blank" rel="noopener noreferrer">{{- title -}}</a>
          {% else %}
            <a href="{%- if site.baseurl %}{{ site.baseurl }}{% endif -%}{{- links | relative_url -}}">
              {{- title -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
