<nav class="nav" aria-label="Navigation menu">
  <ul role="list">
    {%- capture navigation %}
    {%- assign items = site.pages | where: 'navigation', true | sort: 'order' %}
    {%- for item in items %}{% if forloop.first %}
    <li><a href="{{ '/' | relative_url }}">Home</a></li>{% endif %}
    {%- assign item_url = item.redirect_to | default: item.url | relative_url %}
    <li><a href="{{ item_url }}" {% if item_url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif -%}>{{- item.title -}}</a></li>
    {%- endfor %}{% endcapture -%}
    {{ navigation }}
  </ul>
</nav>
