<nav>
  {% for item in site.data.navigation %}
    {%- assign external = item.link | split: '/' | first -%}
    {% if external == 'http:' or external == 'https:' %}
      <a href="{{- item.link -}}" target="_blank" rel="noopener noreferrer">{{- item.name -}}</a>
    {% else %}
      {% comment %} <a href="{{- item.link | relative_url -}}" class="{%- if page.url == item.link %}current{% endif -%}"> {% endcomment %}
      <a href="{{- item.link | relative_url -}}">
        {{- item.name -}}
      </a>
    {% endif %}
  {% endfor %}
</nav>
