{% if site.paginate and paginator.posts.size > 0 %}
  <div class="pagination">
    {% if paginator.total_pages > 0 %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous disabled">Previous</span>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="page-number current">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}" class="page-number">{{ page }}</a>
        {% else %}
          <a href="{{ page }}" class="page-number">
            {{ page }}
          </a>
          {% comment %} Only when "paginate_path: /page/:num/"  {% endcomment %}
          {% comment %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-number">
              {{ page }}
            </a>
          {% endcomment %}
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next disabled">Next</span>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
