{% if include.posts %}
  {% assign posts = include.posts %}
{% elsif site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<ul class="post-list">
  {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
  {% for post in posts %}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {% if site.show_excerpts %}{{ post.excerpt }}{% endif %}
    </li>
  {% endfor %}
</ul>
