{%- capture _CONTENT %}{{- content -}}{%- endcapture %}
{%- comment %} Change the icon of checkbox {%- endcomment %}
{%- if _CONTENT contains '<input type="checkbox" class="task-list-item-checkbox"' %}
  {%- capture iconCheckbox %}{%- include icon.html id="checkbox" class="task-list-checked" %}{%- endcapture %}
  {%- capture iconUncheck %}{%- include icon.html id="square" class="task-list-unchecked" %}{%- endcapture %}
  {%- assign _CONTENT = _CONTENT
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked" />',
      iconCheckbox
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" />', iconUncheck
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled checked>', iconCheckbox
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled>', iconUncheck
  %}
{%- endif %}
{%- comment %} Alerts {%- endcomment %}
{%- if _CONTENT contains '<blockquote class="alert' %}
  {%- for alert in site.data.metadata.alerts %}
    {%- assign alert_name = alert.name %}
    {%- assign alert_icon = alert.icon | downcase %}
    {%- assign alert_subClass = 'alert-' | append: alert_name | downcase %}
    {%- assign alert_svgClass = alert_subClass | append: '-icon' %}
    {%- assign currentElement = '<blockquote class="' | append: 'alert ' | append: alert_subClass | append: '">' %}
    {%- capture newElement %}{{ currentElement | replace: '">','" role="alert">' }}
      <div class="alert-header">
        {%- include icon.html id=alert_icon class=alert_svgClass %}
        <span class="{{ alert_subClass }}-title">{{ alert_name }}</span>
      </div>
    {%- endcapture %}
    {%- assign _CONTENT = _CONTENT | replace: currentElement, newElement %}
  {%- endfor %}
{%- endif %}
{%- comment %} Code blocks {%- endcomment %}
{%- if _CONTENT contains '<pre class="highlight">' %}
  {%- assign _CONTENT = _CONTENT | fix_rouge %}
{%- endif %}
{{- _CONTENT -}}
