{%- capture _CONTENT %}{{ content }}{% endcapture %}
{%- assign SITE_META_DATA = site.data.metadata %}

{%- if _CONTENT contains '<input type="checkbox" class="task-list-item-checkbox"' %}
  {%- capture iconCheckbox %}{%- include icon.html id="checkbox" class="task-list-checked" %}{%- endcapture %}
  {%- capture iconUncheck %}{%- include icon.html id="square" class="task-list-unchecked" %}{%- endcapture %}
  {%- assign _CONTENT = _CONTENT
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked" />',
      iconCheckbox
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" />', iconUncheck
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled checked>', iconCheckbox
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled>', iconUncheck
  %}
{%- endif %}

{%- comment %} Alerts {%- endcomment %}
{%- if _CONTENT contains '<blockquote class="alert' %}
  {%- for alert in SITE_META_DATA.alerts %}
    {%- assign alert_name = alert.name %}
    {%- assign alert_icon = alert.icon | downcase %}
    {%- assign alert_subClass = 'alert-' | append: alert_name | downcase %}
    {%- assign alert_svgClass = 'alert-icon ' | append: alert_subClass | append: '-icon' %}
    {%- assign currentElement = '<blockquote class="' | append: 'alert ' | append: alert_subClass | append: '">' %}
    {%- capture newElement %}{{ currentElement | replace: '">','" role="alert">' }}
      <div class="alert-header">
        {%- include icon.html id=alert_icon class=alert_svgClass %}
        <span class="{{ alert_subClass }}-title">{{ alert_name }}</span>
      </div>
    {%- endcapture %}
    {%- assign _CONTENT = _CONTENT | replace: currentElement, newElement %}
  {%- endfor %}
{%- endif %}

{%- if _CONTENT contains '<pre class="highlight">' %}
  {%- comment %} this use custom liquid tag from _plugins/rebase.rb {%- endcomment %}
  {%- capture customCodeBlock %}{{ _CONTENT }}{% endcapture %}
  {%- assign code_lang = customCodeBlock | regex_match: 'code-lang="(\w+)"' | uniq %}
  {%- assign code_data = SITE_META_DATA.code_blocks %}
  {%- assign data_label = code_data.label %}
  {%- for language in code_lang %}
    {%- assign codeHeader = 'code-lang="' | append: language | append: '">' -%}
    {%- assign label_text = language | capitalize %}
    {%- assign label_icon = 'code' %}
    {%- for item in code_data.language %}
      {%- if item.alias contains language %}
        {%- assign label_text = item.title | default: label_text %}
        {%- assign label_icon = item.icon | default: label_icon %}
        {%- break %}
      {%- endif %}
    {%- endfor %}
    {%- capture newCodeHeader %}
    {%- include icon.html id=label_icon class='code-icon' %}
    <span class="code-title">{{ label_text }}</span>
    <button class="code-button" copy-label="{{ data_label.copy }}" success-label="{{ data_label.success }}" error-label="{{ data_label.error }}" aria-label="Copy {{ label_text }} code to clipboard" aria-live="polite" aria-atomic="true">
      <span class="code-tooltip"></span>
      {%- include icon.html id='copy' class='icon-clipboard' %}
      {%- include icon.html id='check' class='icon-success' %}
      {%- comment %} {%- include icon.html id='copy-check' class='icon-success' %} {% endcomment %}
    </button>
    {%- endcapture %}
    {%- assign customCodeBlock = customCodeBlock | regex_append: codeHeader, newCodeHeader %}
  {%- endfor %}
  {%- assign _CONTENT = customCodeBlock %}
{%- endif %}
{{- _CONTENT }}
