{% comment %}
  RESTRICTIONS for "compress.html"
    - Whitespaces inside of the textarea element are squeezed. Please don’t use the layout on pages with non-empty textarea.
    - Inline JS can become broken where // comments used. Please remove the comments or change to /**/ style.
    - Invalid markup can lead to unexpected results. Please make sure your markup is valid before.
{% endcomment %}

{% comment %} Main Script {% endcomment %}
<script src="{{- '/assets/js/main.js' | relative_url -}}"></script>

{% comment %}  {% endcomment %}
{%- assign js_vendor = '/assets/js/vendor' | relative_url -%}

{% if page.collection == 'posts' or page.layout == 'post' or page.path contains '_posts/' %}
  {% include comments.html %}

  {% if page.anchor %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        let headings = document.querySelectorAll('h2, h3, h4');
        let ignores = ['no_toc', 'no_anchor'];
        headings.forEach(function (heading) {
          if (!ignores.some((className) => heading.classList.contains(className))) {
            let anchor = document.createElement('a');
            anchor.setAttribute('href', '#' + heading.id);
            anchor.setAttribute('class', 'anchor-link');
            anchor.innerHTML = '#';
            heading.appendChild(anchor);
          }
        });
      });
    </script>
  {% endif %}

  {% if page.diagram %}
    <script type="text/javascript" src="{{- js_vendor -}}/mermaid.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        let mermaidClass = document.getElementsByClassName('language-mermaid');
        Array.from(mermaidClass).forEach((element) => {
          element.classList.add('mermaid');
          mermaid.init(undefined, element);
        });
        mermaid.initialize({
          startOnLoad: true,
          theme: 'default',
          securityLevel: 'loose',
        });
      });
    </script>
  {% endif %}
{% endif %}
