{% comment %}
  NOTE:
    - Whitespaces inside of the textarea element are squeezed. Please don’t use the layout on pages with non-empty textarea.
    - Inline JS can become broken where // comments used. Please remove the comments or change to /**/ style.
    - Invalid markup can lead to unexpected results. Please make sure your markup is valid before.
{% endcomment %}
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

{% if page.mathjax %}
  <script
    type="text/javascript"
    id="MathJax-script"
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    async
  ></script>
{% endif %}
{% if page.mermaid %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      mermaid.initialize({
        startOnLoad: true,
        theme: 'default',
      });
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
  </script>
{% endif %}
