{%- include vendor.html -%}
{%- if page.collection == 'posts' or page.layout == 'post' %}
  {%- assign math = page.math | downcase %}
  {%- if math == 'katex' or math == true %}
    <link rel="stylesheet" href="{{ VENDOR_ORIGIN }}/katex{{ __VENDOR_KATEX__ }}/katex.min.css" crossorigin="anonymous">
    <script src="{{ VENDOR_ORIGIN }}/katex{{ __VENDOR_KATEX__ }}/katex.min.js" crossorigin="anonymous" defer></script>
    <script
      src="{{ VENDOR_ORIGIN }}/katex{{ __VENDOR_KATEX__ }}/contrib/auto-render.min.js"
      crossorigin="anonymous"
      defer
      onload="renderMathInElement(document.body);"
    ></script>
  {%- elsif math == 'mathjax' %}
    <script
      id="Mathjax-script"
      src="{{ VENDOR_ORIGIN }}/mathjax{{ __VENDOR_MATHJAX__ }}/tex-mml-chtml.js"
      async
    ></script>
  {%- endif %}
  {%- if page.mermaid == true %}
    <script src="{{ VENDOR_ORIGIN }}/mermaid{{ __VENDOR_MERMAID__ }}/mermaid.min.js"></script>
  {%- endif %}
  {%- if page.toc == true %}
    <script src="{{ VENDOR_ORIGIN }}/tocbot{{ __VENDOR_TOCBOT__ }}/tocbot.min.js"></script>
  {%- endif %}
  <script src="{{ VENDOR_ORIGIN }}/anchor-js{{ __VENDOR_ANCHOR-JS__ }}/anchor.min.js"></script>
{%- endif %}

<script src="{{'/assets/js/main.js' | relative_url }}"></script>
