{%- comment %}
  <style>
    #search-input {
      background: var(--bg-3);
      border-radius: 5px;
      border: 1px solid var(--tx-1);
      font-size: 16px;
      outline: none;
      padding: 10px;
      transition: border-color 0.3s;
      width: 100%;
    }
    #search-input::-webkit-search-cancel-button {
      -webkit-appearance: none; /* For Safari and Chrome */
      -moz-appearance: none; /* For Firefox */
      appearance: none; /* Standard property */
    }
    #search-input:focus {
      border-color: var(--blue);
    }

    #search-results {
      margin-top: 10px;
    }

    .result-item {
      padding: 10px;
      border-bottom: 1px solid var(--tx-1);
      background: var(--bg-2);
      transition: background 0.3s;
    }

    .result-item:hover {
      border-left: 4px solid var(--blue);
      background: var(--bg-3);
    }

    .result-item a {
      color: var(--tx-1);
      text-decoration: none;
    }

    .result-item a:hover {
      color: var(--blue);
    }

    .no-results {
      background: var(--bg-2);
      border-radius: 2px;
      color: var(--tx-1);
      font-style: italic;
      padding: 10px;
      text-align: center;
    }
    .no-results::before {
      font-weight: bold;
      font-style: normal;
      content: 'No results for ';
    }
  </style>
{%- endcomment %}
<!-- prettier-ignore -->
<div class="search-container">
  {% comment %} <input id="search-input" type="search" autocomplete="off" spellcheck="false" placeholder="What are you looking for today?"> {% endcomment %}
  <input id="search-input" type="search" autocomplete="off" spellcheck="false" placeholder="Search...">
  <div class="result-container">
    <ul id="search-results"></ul>
  </div>
</div>
