<div class="col col-3 sidebar">
  {% if page.tags.size > 0 %}
    <section class="tags">
      <h2>Tags</h2>
      <nav>
        <ul>
          {%- for tag in page.tags %}
            <li>
              <a href="{{ '/tags/' | append: tag | relative_url }}">{{- tag | prepend: '#' -}}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </section>
  {% endif %}
  {% if page.toc == true %}
    <section class="sticky hide-on-mobile">
      <h2 class="toc-title">On this page</h2>
      {% include toc.html style="z-index:1" %}
    </section>
  {% endif %}
</div>
