<div id="theme-toggle">
  <button data-mode="system" aria-label="System mode" type="button" class="active">
    {% include svg_symbol.html id='device-desktop' %}
  </button>
  <button data-mode="light" aria-label="Light mode" type="button">
    {% include svg_symbol.html id='sun' %}
  </button>
  <button data-mode="dark" aria-label="Dark mode" type="button">
    {% include svg_symbol.html id='moon' %}
  </button>
</div>
<script>
  (function () {
    THEME = THEME || {
      toggle: { system: 'system', light: 'light', dark: 'dark' },
      giscus: { light: 'light', dark: 'dark_dimmed' },
      utterances: { light: 'github-light', dark: 'github-dark' },
      mermaid: { light: 'default', dark: 'dark' },
    };

    const themeToggle = document.getElementById('theme-toggle');
    const themeButtons = themeToggle?.querySelectorAll('button');

    function setupTheme(mode) {
      if (mode === THEME.toggle.system) {
        document.documentElement.removeAttribute('data-theme');
        localStorage.removeItem('theme');
      } else {
        document.documentElement.setAttribute('data-theme', mode);
        localStorage.setItem('theme', mode);
        updateFrameThemes(mode);
      }
      if (themeButtons) {
        themeButtons.forEach((button) => button.classList.toggle('active', button.getAttribute('data-mode') === mode));
      }
    }

    function initialTheme() {
      const currentTheme = localStorage.getItem('theme') || THEME.toggle.system;
      setupTheme(currentTheme);

      if (themeButtons) {
        themeButtons.forEach((button) =>
          button.addEventListener('click', () => setupTheme(button.getAttribute('data-mode')))
        );
      }
    }

    function updateFrameThemes(theme) {
      function sendMessage(selector, message, origin) {
        const frame = document.querySelector(selector);
        if (frame && frame.contentWindow) {
          frame.contentWindow.postMessage(message, origin);
        }
      }
      sendMessage('.giscus-frame', { giscus: { setConfig: { theme: THEME.giscus[theme] } } }, 'https://giscus.app');
      sendMessage('.utterances-frame', { type: 'set-theme', theme: THEME.utterances[theme] }, 'https://utteranc.es');
    }

    initialTheme();
  })();
</script>
