@use "sass:map";
@use "utils" as *;

:root {
  @include theme(light);

  &[data-theme="dark"] {
    @include theme(dark);
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-theme]) {
      @include theme(dark);
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: var(--tx-1);
  background-color: var(--bg-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
dd,
dl,
blockquote,
details,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * 0.5;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

img,
figure > img {
  display: block;
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

figcaption {
  font-size: $small-size;
  text-align: center;
}

dd,
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

@include font-size-headings;

a {
  color: var(--tx-1);
  text-decoration: underline;
  text-decoration-color: var(--lk-1);
  text-underline-offset: 1.45px;
  text-decoration-thickness: 1.5px;

  &:hover {
    color: var(--lk-1);
  }
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
  color: var(--tx-1);
  border-left: 4px solid var(--bd-1);
  padding-left: $spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }

  i,
  em {
    font-style: normal;
  }
}

samp,
kbd,
pre,
code {
  font-family: $font-mono;
  letter-spacing: 0.3px;
  border-radius: 4px;
  background-color: var(--bg-2);
}

samp,
kbd,
code {
  font-size: $small-size;
  padding: 2px 4px;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;

  &,
  code {
    font-size: px-to-rem(15px);
  }

  pre,
  code {
    border: none;
    background: none;
    @include reset-gutter;
  }

  td {
    &:nth-child(1) {
      user-select: none;
      padding-right: $spacing-unit;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }

  .lineno {
    text-align: right;
  }
}

/*
  NOTE: this enable on if use triple backticks, not for use {% highlight %} tag
*/
.rouge-gutter {
  display: none;
}

.lineno .rouge-gutter {
  display: block;
}

table:not(:has(pre)) {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  color: var(--tx-1);
  border-collapse: collapse;

  caption {
    font-weight: bold;
    border-bottom: none;
  }

  caption,
  th,
  td {
    padding: ($spacing-unit * 33.3333333333 * 0.01) ($spacing-unit * 0.5);
  }

  caption,
  th {
    background-color: var(--bg-2);
    border: 1px solid var(--bd-1);
  }

  td {
    border: 1px solid var(--bd-1);
  }

  tr:nth-child(even) {
    background-color: var(--bg-2);
  }

  @media screen and (max-width: $max-width) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

del {
  color: var(--red);
}

em {
  color: var(--yellow);
}

mark {
  background-color: var(--yellow);
}

.wrapper,
%wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.content__inner,
.header__inner,
.footer__inner {
  @extend %wrapper;
  display: flex;
  flex-direction: row;
  gap: $spacing-unit;
}

.content,
.header {
  background-color: var(--bg-2);
  padding: $spacing-unit 0;
}

.footer {
  background-color: var(--bg-2);
  padding: px-to-rem(80px) 0;
}

.content {
  background-color: inherit;

  & &__inner {
    .article {
      flex: 2;
    }

    .sidebar {
      flex: 1;
      max-width: 200px;
    }
  }

  &:has(.homepage__inner) {
    padding-top: 0;
  }
}

.header__inner {
  align-items: center;
  justify-content: space-between;

  .brand a {
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
  }

  h1,
  ul,
  p {
    margin: 0;
  }

  .navbar {
    &,
    ul {
      display: inline-flex;
      align-items: center;
      gap: $spacing-unit;
    }

    ul {
      list-style: none;
    }
  }

  /* TODO */
  .hambuger {
    display: none;
  }
}

.footer__inner {
  align-items: center;
  justify-content: space-between;

  h1,
  ul,
  p {
    margin: 0;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  ul {
    display: inline-flex;
    gap: $spacing-unit;
    list-style: none;

    a {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.homepage__inner {
  --home-gutter: #{px-to-rem(40px)};

  .home-title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: calc($spacing-unit * 2);
  }

  .home-hero,
  .home-blog {
    padding: calc(var(--home-gutter) * 2) var(--home-gutter);
  }

  .home-hero {
    font-size: 1.2em;
    text-align: center;
    color: var(--base06);
    background-color: var(--bd-1);

    a,
    p {
      margin-bottom: var(--home-gutter);
    }

    a {
      text-decoration: none;
      padding: 10px $spacing-unit;
      color: var(--base06);
      background-color: var(--lk-1);
      border-radius: 5px;
      transition: background-color 0.3s ease-in;

      &:hover {
        background-color: var(--lk-2);
      }
    }
  }
}

.post-title {
  font-weight: 700;
}

.post-meta {
  margin-bottom: $spacing-unit;
}

@media screen and (max-width: $max-width) {
  .content__inner,
  .header__inner,
  .footer__inner,
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .content__inner {
    text-align: left !important;
  }

  .homepage__inner {
    .home-hero,
    .home-blog {
      padding: $spacing-unit;
      padding-bottom: var(--home-gutter);
    }
    .home-blog {
      .wrapper {
        padding: 0;
      }
    }
  }

  .footer__inner :has(.social__list) {
    order: 1;
  }
}
