* {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  &:after {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  &:before {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1rem;
  color: $primary-color;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

figcaption {
  font-size: smaller;
}

nav {
  ul {
    border-right: 1px solid #edf2f7;
  }
}

ul {
  margin: 0;
  padding-left: 10px;

  li {
    padding: 3px 0;
  }
}

a {
  color: $link-color;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}
pre {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: rgb(236, 237, 238);
  padding: 1rem;
  overflow-x: auto;
  code {
    border: none;
  }
}

code {
  background: rgb(236, 237, 238);
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
}
img {
  max-width: 100%;
}
hr {
  border: 0;
  border-top: 2px solid #000;
  margin: 20px 0;
  opacity: 0.6;
  height: 1px;
}
dl {
  margin: 1rem 0;
  padding: 0;
}
dt {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  li {
    margin-bottom: 0.2rem;
    text-align: right;
    margin-right: 2rem;
  }
  a.active {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}
section {
  padding: 1rem;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  h1 {
    &:first-child {
      margin-top: 0;
    }
  }
}

h1 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}
h2 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}
h3 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}
h4 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}
h5 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}
strong {
  font-weight: bold;
}
b {
  font-weight: bold;
}

/* Styling for tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

/* Styling for table headers (thead) */
thead {
  background-color: #f8f9fa;
  color: #343a40;
}

/* Styling for table rows */
tr {
  border-bottom: 1px solid #dee2e6;
}

/* Styling for table cells (td and th) */
td,
th {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  text-align: left;
}

/* Optional: Styling for hovered table rows */
tr:hover {
  background-color: #f1f3f5;
}

blockquote {
  font-style: italic;
  border-left: $border-left solid #ececec;
  padding-left: 1rem;
  border-radius: 5px;
}

/* Base styling for prompts */
blockquote[class^="prompt-"] {
  padding: 5px;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-style: normal;
  &.prompt-tip {
    background-color: #d4edda;
    color: #155724;
    border-left: $border-left solid #c3e6cb;
  }
  &.prompt-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-left: $border-left solid #bee5eb;
  }
  &.prompt-warning {
    background-color: #fff3cd;
    color: #856404;
    border-left: $border-left solid #ffeeba;
  }
  &.prompt-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-left: $border-left solid #f5c6cb;
  }
}
