/* prettier-ignore */
@mixin rebase(
  $base00, $base01, $base02, $base03,
  $base04, $base05, $base06, $base07
) {
  --bg-1: #{$base00};
  --bg-2: #{$base01};
  --bg-3: #{$base02};

  --tx-1: #{$base05};
  --tx-2: #{$base06};
  --tx-3: #{$base07};

  --bd-1: #{$base02};
  --bd-2: #{$base03};
  --bd-3: #{$base04};
  --mx-1: #{mix($base02, $base04)};
  --mx-2: #{mix($base02, $base03)};

  --lk-1: var(--green);
  --lk-2: var(--orange);
  --lk-3: var(--cyan);

  --red: #ac4142;
  --green: #90a959;
  --blue: #6a9fb5;
  --cyan: #75b5aa;
  --yellow: #f4bf75;
  --orange: #d28445;
  --magenta: #d85c98;
  --violet: #aa759f;

  --white: #f5f5f5;
  --black: #0e141b;
  --brown: #8f5536;

  // SYNTAX
  --bracket: #aa759f;
  --comment: #959795;
  --whitespace: #303030;

  @content;
}

:root {
  color-scheme: light;
  @include rebase(
    $base00: #ffffff,
    $base01: #e0e0e0,
    $base02: #c5c8c6,
    $base03: #b4b7b4,
    $base04: #969896,
    $base05: #373b41,
    $base06: #282a2e,
    $base07: #1d1f21
  );
}
[data-theme="dark"] {
  color-scheme: dark;
  @include rebase(
    $base00: #1d1f21,
    $base01: #282a2e,
    $base02: #373b41,
    $base03: #969896,
    $base04: #b4b7b4,
    $base05: #c5c8c6,
    $base06: #e0e0e0,
    $base07: #ffffff
  );
}

// Syntax highlighting styles
// --------------------------
/* prettier-ignore */
.highlight {
	table {
		td {
			padding: 5px;
		}
		pre {
			margin: 0;
		}
	}
  .c, .c1, .cm, .cs, .ge, .err {
    font-style: italic;
  }
  .cp, .cs, .gs, .k, .kc, .kd, .kp, .kr, .kt, .nc, .ne, .nf, .o, .ow {
    font-weight: bold;
  }
	.w   {
    color: var(--whitespace);
  }

	.err {
    &::before {
      content: "! ";
    }
    color: var(--white);
    background-color: var(--red);
    padding: 1px 3px;
  }
	.gd  {
    color: var(--red);
  }
	.c, .ch, .cd, .cm, .cpf, .c1, .cs {
    color: var(--comment);
  }
	.o, .ow, .p, .pi {
    color: var(--bracket);
  }
	.na, .gh {
    color: var(--blue);
  }
	.gh {
    background-color: var(--black);
  }
	.k, .kn, .kp, .kr, .kv, .sa {
    color: var(--violet);
  }
	.kc, .kt, .kd {
    color: var(--orange);
  }
	.sr  {
    color: var(--cyan);
  }
	.si, .se {
    color: var(--brown);
  }
	.cp, .nt, .nn, .nc, .no {
    color: var(--orange);
  }
	.dl, .gi, .il, .m , .mb, .mf, .mh, .mi, .mo, .mx, .s, .s1, .s2, .sb, .sc, .sd, .sh, .ss, .sx, {
    color: var(--green);
  }
}

// Admonitions
.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: none;
  @mixin color-alert($color) {
    background-color: rgba($color, 0.2);
    border-left: 5px solid $color;
    color: $color;
  }
  &-note {
    @include color-alert(#6a9fb5);
  }
  &-tip {
    @include color-alert(#90a959);
  }
  &-important {
    @include color-alert(#aa759f);
  }
  &-warning {
    @include color-alert(#d28445);
  }
  &-caution {
    @include color-alert(#ac4142);
  }
}
