/* $base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900; */

/* prettier-ignore */
@mixin rebase(
  $base00, $base01, $base02, $base03,
  $base04, $base05, $base06, $base07
) {
  --font-sans: #{$base-font-family};
  --font-mono: #{$code-font-family};
  --bg-1: #{$base00};
  --bg-2: #{$base01};
  --bg-3: #{$base02};
  --tx-1: #{$base05};
  --tx-2: #{$base06};
  --tx-3: #{$base07};
  --bd-1: #{$base03};
  --bd-2: #{$base04};
  --link: var(--blue);
  --hover: var(--cyan);
  --marked: var(--yellow);
  --red: #dc322f;
  --orange: #cb4b16;
  --yellow: #b58900;
  --green: #859900;
  --cyan: #2aa198;
  --blue: #268bd2;
  --violet: #6c71c4;
  --magenta: #d33682;
}

:root {
  @include rebase(
    $base00: #fafafa,
    $base01: #f3f4f5,
    $base02: #f8f9fa,
    $base03: #abb0b6,
    $base04: #828c99,
    $base05: #5c6773,
    $base06: #242936,
    $base07: #1a1f29
  );
}
[data-theme="dark"] {
  @include rebase(
    $base00: #0f1419,
    $base01: #131721,
    $base02: #272d38,
    $base03: #3e4b59,
    $base04: #bfbdb6,
    $base05: #e6e1cf,
    $base06: #e6e1cf,
    $base07: #f3f4f5
  );
}

// Syntax highlighting styles should be adjusted appropriately for every color scheme
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens

/* prettier-ignore */
.highlight {
	table {
		td {
			padding: 5px;
		}
		pre {
			margin: 0;
		}
	}
  .c, .c1, .cm, .cs, .ge, .err {
    font-style: italic;
  }
  .cp, .cs, .gs, .k, .kc, .kd, .kp, .kr, .kt, .nc, .ne, .nf, .o, .ow {
    font-weight: bold;
  }
	// color: #303030;
	.w   {
    color: #303030;
  }
	.err {
    color: #151515;
    background-color: #ac4142;
  }
	.gd  {
    color: #ac4142;
  }
	.c, .ch, .cd, .cm, .cpf, .c1, .cs {
    color: #505050;
  }
	.o, .ow, .p, .pi {
    color: #d0d0d0;
  }
	.na, .gh {
    color: #6a9fb5;
  }
	.gh {
    background-color: #151515;
  }
	.k, .kn, .kp, .kr, .kv, .sa {
    color: #aa759f;
  }
	.kc, .kt, .kd {
    color: #d28445;
  }
	.sr  {
    color: #75b5aa;
  }
	.si, .se {
    color: #8f5536;
  }
	.cp, .nt, .nn, .nc, .no {
    color: #f4bf75;
  }
	.dl, .gi, .il, .m , .mb, .mf, .mh, .mi, .mo, .mx, .s, .s1, .s2, .sb, .sc, .sd, .sh, .ss, .sx, {
    color: #90a959;
  }
}
