@use "sass:map";

// SASS VARIABLES
$base-01: #f8fafc;
$base-02: #f1f5f9;
$base-03: #e2e8f0;
$base-04: #cbd5e1;
$base-05: #94a3b8;
$base-06: #64748b;
$base-07: #475569;
$base-08: #334155;
$base-09: #0f172a;
$base-10: #020617;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
$cyan: #2aa198;
$blue: #268bd2;
$violet: #6c71c4;
$magenta: #d33682;
$dark-red: #cc6666;
$dark-orange: #de935f;
$dark-yellow: #f0c674;
$dark-green: #b5bd68;
$dark-cyan: #8abeb7;
$dark-blue: #81a2be;
$dark-violet: #b294bb;
$dark-magenta: #eb5ea2;

// Schemes data
$themes: (
  "light": (
    "bg-1": $base-02,
    "bg-2": $base-03,
    "bg-3": $base-04,
    "tx-1": $base-08,
    "tx-2": $base-09,
    "tx-3": $base-10,
    "bd-1": $base-04,
    "bd-2": $base-05,
    "bd-3": $base-06,
    "lk-1": $violet,
    "lk-2": $blue,
  ),
  "dark": (
    "bg-1": $base-10,
    "bg-2": $base-09,
    "bg-3": $base-08,
    "tx-1": $base-04,
    "tx-2": $base-03,
    "tx-3": $base-02,
    "bd-1": $base-07,
    "bd-2": $base-06,
    "bd-3": $base-05,
    "lk-1": $blue,
    "lk-2": $violet,
  ),
);

// Alerts data
$alerts: (
  "class": (
    "note",
    "tip",
    "important",
    "warning",
    "caution",
  ),
  "light": (
    "note": $blue,
    "tip": $green,
    "important": $violet,
    "warning": $yellow,
    "caution": $red,
  ),
);

$tag-colors: (
  t: $base-02,
  1: $magenta,
  2: $violet,
  3: $blue,
  4: $cyan,
  5: $green,
  6: $yellow,
  7: $orange,
  8: $red,
);

@mixin alert($mode) {
  $alert: map.get($alerts, $mode);

  @if not $alert {
    $alert: map.get($alerts, "light");
  }

  @each $name, $color in $alert {
    --alert-tx-#{$name}: #{$color};
    --alert-bg-#{$name}: #{rgba($color, 0.3)};
    --alert-bd-#{$name}: #{rgba($color, 0.65)};
  }
}

@mixin theme($mode) {
  color-scheme: $mode;

  $theme: map.get($themes, $mode);

  @each $key, $value in $theme {
    --#{$key}: #{$value};
  }

  @if $mode == "dark" {
    --red: #{$dark-red};
    --orange: #{$dark-orange};
    --yellow: #{$dark-yellow};
    --green: #{$dark-green};
    --cyan: #{$dark-cyan};
    --blue: #{$dark-blue};
    --violet: #{$dark-violet};
    --magenta: #{$dark-magenta};
  }
}
