/* Preserve some sanity */
.flex,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
/* prettier-ignore */
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;

  .w-1-1 { flex-basis: 100%; }
  .w-1-2 { flex-basis: 50%; }

  .w-2-3 { flex-basis: 66.6666%; }
  .w-1-3 { flex-basis: 33.3333%; }

  .w-3-5 { flex-basis: 60%; }
  .w-2-5 { flex-basis: 40%; }

  .w-3-4 { flex-basis: 75%; }
  .w-1-4 { flex-basis: 25%; }

  .w-4-5 { flex-basis: 80%; }
  .w-1-5 { flex-basis: 20%; }

  .unit {
    width: 100%;
    padding: 10px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }
}

.unit {
  & &:first-child {
    padding-left: 0;
  }
  & &:last-child {
    padding-right: 0;
  }
  & .flex:first-child > & {
    padding-top: 0;
  }
  & .flex:last-child > & {
    padding-bottom: 0;
  }
  .no-gutters &,
  &.no-gutters {
    padding: 0 !important;
  }
}

/* Responsive Stuff */
@media screen and (max-width: 768px) {
  .flex {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .flex:not(.no-stacking-on-mobiles) > .unit {
    flex-basis: 100% !important;
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .flex .unit {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Wrapping at a maximum width is optional */
.wrap .flex,
.flex.wrap {
  max-width: 1080px;
  margin: 0 auto;
}
@each $key, $value in ("xs": 576px, "sm": 768px, "lg": 992px, "xl": 1200px) {
  @media screen and (min-width: #{$value}) {
    .wrap.#{$key} .flex,
    .flex.wrap.#{$key} {
      max-width: #{$value} !important;
      margin: 0 auto;
    }
  }
}
