@use "utils" as *;

/* Preserve some sanity */
.grid,
.unit {
  box-sizing: border-box;
}

/* Set up the grid container */
.grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  flex-direction: row;

  .wrap &,
  &.wrap {
    max-width: $content-width;
    margin: 0 auto;
  }

  @media screen and (min-width: 1180px) {
    .wider &,
    &.wider {
      max-width: 1180px;
      margin: 0 auto;
    }
  }
}

/* Unit styling */
.unit {
  flex: 0 0 calc(100% / 12); /* Basis for each unit */
  width: calc(100% / 12); /* Default width for each unit */
  padding: $spacing-unit * 0.5; /* Padding around units */

  /* Responsive width classes */
  @for $i from 1 through 12 {
    &.w-#{$i} {
      flex: 0 0 calc(100% / 12 * $i);
      width: calc(100% / 12 * $i);
    }
  }

  /* Adjust padding for the first and last child in the grid */
  &:first-child {
    padding-left: $spacing-unit; /* Outer gutter */
  }
  &:last-child {
    padding-right: $spacing-unit; /* Outer gutter */
  }
  .unit:first-child {
    padding-left: 0; /* Inner gutter */
  }
  .unit:last-child {
    padding-right: 0; /* Inner gutter */
  }

  /* Remove padding in nested grids */
  .grid > .unit:first-child {
    padding-top: 0;
  }
  .grid > .unit:last-child {
    padding-bottom: 0;
  }

  /* Remove gutters completely if needed */
  .no-gutters &,
  &.no-gutters {
    padding: 0 !important;
  }

  /* Ensure images are responsive */
  img,
  svg {
    max-width: 100%;
  }
}

/* Utility classes */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.only-on-mobiles {
  display: none !important;
}

/* Responsive adjustments for mobile */
@media screen and (max-width: $max-width) {
  .grid {
    flex-direction: column; /* Stack units vertically */
  }
  .grid:not(.no-stacking-on-mobiles) > .unit {
    width: 100% !important; /* Full width for mobile */
    // padding: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  .unit .grid .unit {
    padding-left: 0;
    padding-right: 0;
  }
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
  .only-on-mobiles {
    display: block !important;
  }
}
