.site-title {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: var(--hover-color);
      text-decoration: underline;
    }
  }
}

.site-footer {
  display: inline-flex;
  .svg-icon {
    width: 1.25em;
    height: 1.25em;
    fill: currentColor;
    vertical-align: text-bottom;
    margin-inline-start: 0.3rem;
    margin-right: 0.3rem;
  }
}

.post-list {
  display: flex;
  flex-direction: column;
  // padding: 20px;
  // max-width: 800px;
  // margin: 0 auto;
  .post-item {
    background-color: var(--background-alt);
    border: 1px solid var(--border-color);
    transition: background-color 0.2s;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    &:hover {
      background-color: var(--background);
    }
  }
  .post-title {
    margin: 0;
    font-size: 1.4rem;
    color: var(--link-color);
  }
  .post-link {
    text-decoration: none;
    color: inherit;
  }
  .post-summary {
    font-size: 0.9rem;
    margin: 10px 0;
    color: var(--text-color);
  }
  .post-meta {
    display: flex;
    justify-content: space-between;
    /* color: var(--second-color); */
    font-size: 0.9rem;
  }
}

#post-archive {
  /* padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-alt); */
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  /* p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  } */
  span {
    font-size: 0.9rem;
    color: var(--second-color);
    margin-right: 10px;
  }
  a {
    font-size: 1rem;
    color: var(--link-color);
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tip,
.note,
.error,
.warning,
.question {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}
@mixin recolor($color) {
  background-color: rgba($color, 0.2);
  border-left: 5px solid $color;
  color: $color;
}
.tip {
  @include recolor(#28a745);
}
.note {
  @include recolor(#383d41);
}
.error {
  @include recolor(#dc3545);
}
.warning {
  @include recolor(#dda706);
}
.question {
  @include recolor(#007acc);
}
[data-theme="dark"] {
  .tip {
    @include recolor(#c3e88d);
  }
  .note {
    @include recolor(#838f99);
  }
  .error {
    @include recolor(#f07178);
  }
  .warning {
    @include recolor(#ffcb6b);
  }
  .question {
    @include recolor(#82aaff);
  }
}

// Syntax highlighting styles should be adjusted appropriately for every color scheme
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
.highlight {
  font-family: var(--mono-fonts);
  table {
    pre {
      margin: 0;
    }
    td {
      padding: 5px;
    }
  }
  .c,
  .c1,
  .cm,
  .cs,
  .ge,
  .err {
    font-style: italic;
  }
  .cp,
  .cs,
  .gs,
  .k,
  .kc,
  .kd,
  .kp,
  .kr,
  .kt,
  .nc,
  .ne,
  .nf,
  .o,
  .ow {
    font-weight: bold;
  }
  @include scheme.rouge($dark: false);
}

[data-theme="dark"] {
  .highlight {
    @include scheme.rouge($dark: true);
  }
}

.anchor_link,
.anchorjs-link {
  text-decoration: none;
  color: var(--disabled-color);
  &:hover {
    color: var(--link-color);
  }
}

#my-authors {
  --avatar-size: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  .my-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1em;
    line-height: calc(var(--avatar-size) / 2);
    img {
      border-radius: 50%;
      height: var(--avatar-size, 65px);
      width: var(--avatar-size, 65px);
    }
    &__links svg {
      width: 22px;
      height: 22px;
    }
    &__links a {
      text-decoration: none;
      -moz-margin-end: 6px;
      -webkit-margin-end: 6px;
      margin-inline-end: 6px;
      padding-bottom: 6px;
      &:hover {
        border-bottom: 1px solid currentColor;
      }
      &:last-of-type {
        -moz-margin-end: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
      }
    }
  }
}

// Theme toggles: https://github.com/AlfieJones/theme-toggles
.theme-toggle {
  --theme-toggle-duration: 300ms;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
  }
  &_expand g circle,
  &_expand g path {
    transform-origin: center;
    transition: transform calc(var(--theme-toggle-duration) * 0.65)
      cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle-duration) * 0.35);
  }
  &_expand :first-child path {
    transition-property: transform, d;
    transition-duration: calc(var(--theme-toggle-duration) * 0.6);
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }
  &_toggled:not(label).theme-toggle &_expand g circle,
  & input[type="checkbox"]:checked ~ &_expand g circle {
    transform: scale(1.4);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand g path,
  & input[type="checkbox"]:checked ~ &_expand g path {
    transform: scale(0.75);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand g path,
  & input[type="checkbox"]:checked ~ &_expand g path {
    transform: scale(0.75);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand :first-child path,
  & input[type="checkbox"]:checked ~ &_expand :first-child path {
    d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
    transition-delay: calc(var(--theme-toggle-duration) * 0.4);
    transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
  }

  @supports not (d: path("")) {
    &_toggled:not(label).theme-toggle &_expand :first-child path,
    & input[type="checkbox"]:checked ~ &_expand :first-child path {
      transform: translate3d(-9px, 14px, 0);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .theme-toggle:not(.theme-toggle--force-motion) * {
      transition: none !important;
    }
  }
}

/*
  .tip {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
    color: #155724;
  }
  .note {
    background-color: #e2e3e5;
    border-left: 5px solid #6c757d;
    color: #383d41;
  }
  .error {
    background-color: #f8d7da;
    border-left: 5px solid #dc3545;
    color: #721c24;
  }
  .warning {
    @include recolor(#ffcb6b);
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    color: #856404;
  }
  .question {
    background-color: #e7f3ff;
    border-left: 5px solid #007acc;
    color: #004080;
  }
 */
