@use "sass:map";
@use "utils" as *;
@use "base" as *;
@use "grid" as *;

#site-head,
#site-foot {
  background-color: var(--bg-2);
}

#site-main {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  background-color: var(--bg-1);

  &:has(.page) .wrap {
    max-width: $min-width;
  }

  &:has(.home) {
    margin-top: 0;

    font-family: $font-heading;

    %align-center,
    .page-heading {
      text-align: center;
    }

    .page-heading {
      @extend %align-center;
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    .home-hero,
    .home-card {
      padding: $spacing-unit * 4;

      @media screen and (max-width: $min-width) {
        padding: $spacing-unit * 4 $spacing-unit;
      }
    }

    .home-hero {
      @extend %align-center;
      background-color: var(--bg-3);

      p {
        font-family: $font-serif;
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }

      a.btn {
        color: var(--base06);
        background-color: var(--blue);
        text-decoration: none;
        font-size: 1.15rem;
        border-radius: 5px;
        padding: 1rem 1.5rem;
        transition: 0.3s ease;

        &:hover {
          background-color: var(--bd-1);
        }
      }
    }
  }
}

.header,
.footer,
.page,
.post {
  font-size: large;
  line-height: 1.8;
}

.page-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.header {
  .logo {
    font-size: 1.8rem;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }
}

.footer,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-unit * 0.5;
  padding: $spacing-unit * 2 0;
  font-family: $font-heading;

  h1,
  p {
    margin-bottom: 0;
  }

  a {
    text-decoration-thickness: 1.5px;
  }
}

.only-on-mobiles {
  display: none !important;
}

@media screen and (max-width: $min-width) {
  .hide-on-mobiles {
    display: none !important;
  }

  .only-on-mobiles {
    display: block !important;
  }

  .footer,
  .header {
    flex-direction: column;
  }

  .copyright {
    order: -1;
  }
}

.breadcrumb,
.navigation,
.pagination,
.social {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: $spacing-unit * 0.5;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pagination {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacing-unit * 0.5;

  .is-not-paginate {
    margin: 0;
    text-align: center;
  }
}

// svg (tabler icon)
.icon {
  color: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

// jemoji
.emoji {
  display: inline-block;
  vertical-align: text-bottom;
}

// anchor-js
.anchor-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

// memaid
.mermaid {
  display: block;
}
