/* .svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
} */

.post-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .post-item {
    background-color: var(--bg-2);
    border: 1px solid var(--bd-1);
    border-radius: $border-radius;
    margin-bottom: 20px;
    padding: 15px;
  }
  .post-title {
    margin: 0;
    font-size: 1.4rem;
    &:hover {
      color: var(--link);
    }
  }
  .post-link {
    text-decoration: none;
  }
  .post-meta,
  .post-summary {
    font-size: 0.9rem;
  }
  .post-summary {
    margin: 10px 0;
    color: var(--tx-1);
  }
  .post-meta {
    display: flex;
    justify-content: space-between;
  }
}

/**
 * Gist.
 */
.gist {
  td {
    border: inherit; // fix Skeleton override
  }
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: none;
  @mixin color-alert($color) {
    background-color: rgba($color, 0.2);
    border-left: 5px solid $color;
    color: $color;
  }
  &-note {
    @include color-alert(#6a9fb5);
  }
  &-tip {
    @include color-alert(#90a959);
  }
  &-important {
    @include color-alert(#aa759f);
  }
  &-warning {
    @include color-alert(#d28445);
  }
  &-caution {
    @include color-alert(#ac4142);
  }
}

.anchor_link,
.anchorjs-link {
  text-decoration: none;
  color: var(--bd-1);
  &:visited {
    color: inherit;
  }
  &:hover {
    color: var(--link);
  }
}

.my-authors {
  --avatar-size: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  .my-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1em;
    line-height: calc(var(--avatar-size) / 2);
    img {
      border-radius: 50%;
      height: var(--avatar-size, 65px);
      width: var(--avatar-size, 65px);
    }
    &__links svg {
      width: 22px;
      height: 22px;
    }
    &__links a {
      text-decoration: none;
      -moz-margin-end: 6px;
      -webkit-margin-end: 6px;
      margin-inline-end: 6px;
      padding-bottom: 6px;
      &:hover {
        border-bottom: 1px solid currentColor;
      }
      &:last-of-type {
        -moz-margin-end: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
      }
    }
  }
}

// Theme toggles: https://github.com/AlfieJones/theme-toggles
.theme-toggle {
  --theme-toggle-duration: 300ms;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
  }
  &_expand g circle,
  &_expand g path {
    transform-origin: center;
    transition: transform calc(var(--theme-toggle-duration) * 0.65)
      cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle-duration) * 0.35);
  }
  &_expand :first-child path {
    transition-property: transform, d;
    transition-duration: calc(var(--theme-toggle-duration) * 0.6);
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }
  &_toggled:not(label).theme-toggle &_expand g circle,
  & input[type="checkbox"]:checked ~ &_expand g circle {
    transform: scale(1.4);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand g path,
  & input[type="checkbox"]:checked ~ &_expand g path {
    transform: scale(0.75);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand g path,
  & input[type="checkbox"]:checked ~ &_expand g path {
    transform: scale(0.75);
    transition-delay: 0s;
  }
  &_toggled:not(label).theme-toggle &_expand :first-child path,
  & input[type="checkbox"]:checked ~ &_expand :first-child path {
    d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
    transition-delay: calc(var(--theme-toggle-duration) * 0.4);
    transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
  }

  @supports not (d: path("")) {
    &_toggled:not(label).theme-toggle &_expand :first-child path,
    & input[type="checkbox"]:checked ~ &_expand :first-child path {
      transform: translate3d(-9px, 14px, 0);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    &:not(&--force-motion) * {
      transition: none !important;
    }
  }
}
