@charset "UTF-8";
@import "../fonts/open-sans/open_sans.css", "../fonts/fira-code/fira_code.css",
  "../fonts/poppins/poppins.css";

$dark-theme: false;
$base-font-family: "Open Sans", "Poppins", system-ui, -apple-system, sans-serif !default;
$code-font-family: "Fira Code", "Consolas", monospace !default;

@import "custom", "post-alert", "post-list", "post-archive", "post-syntax",
  "post-typography", "theme-toggle", "vendor/sakura/init";
