@charset "UTF-8";
$base-font-family: system-ui, -apple-system, sans-serif !default;
$code-font-family: monospace !default;
@use "colors" as scheme;

:root {
  color-scheme: light;
  --base-fonts: #{$base-font-family};
  --mono-fonts: #{$code-font-family};
  --border-radius: 5px;

  @include scheme.ayu($dark: false);
  --background: var(--base00);
  --background-alt: var(--base01);
  --text-color: var(--base05);
  --second-color: var(--base03);
  --border-color: var(--base02);
  --link-color: var(--base0D);
  --hover-color: var(--base0C);
  --syntax-color: var(--base08);
  --preformatted-color: var(--base04);
  --marked-color: var(--base0A);
  --disabled-color: var(--base02);
}

[data-theme="dark"] {
  color-scheme: dark;
  @include scheme.ayu($dark: true);
}

@import "custom", "base", "layout";
