// This fixed `- [x] Task list` from rendering markdown.
.task-list {
  margin-left: 0;
  list-style: none;
  &-item {
    &-checkbox {
      cursor: not-allowed;
      margin-right: 5px;
    }
  }
}

// anchor.js
.anchorjs-link,
.anchor_link {
  font-style: normal;
  font-weight: bold;
  color: var(--bd-1);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--lk-1);
  }
}

// tocbot.js
.no-table-of-content {
  background: var(--bg-2);
  border: 2px solid var(--bd-1);
  border-radius: $border-radius;
  padding: #{$line-height}rem auto;
  // margin: 2rem 0;
  .toc {
    li {
      margin-top: 0.4rem;
    }
    a {
      text-decoration: none;
    }
  }
}

// Gists
.gist {
  td {
    border: inherit; // fix Skeleton override
  }
}

// Alerts or Admonitions
.alert {
  font-size: medium;
  font-style: normal;
  padding: 10px auto;
  margin: 20px 0;
  border-radius: 5px;
  @mixin color-alert($color) {
    background-color: rgba($color, 0.2);
    // border-left: 5px solid $color;
    border-left: 0;
    color: $color;
    code {
      color: $color;
      border: 1px solid rgba($color, 0.35);
      background-color: rgba($color, 0.25);
    }
  }
  &-note {
    @include color-alert(#6a9fb5);
  }
  &-tip {
    @include color-alert(#90a959);
  }
  &-important {
    @include color-alert(#aa759f);
  }
  &-warning {
    @include color-alert(#d28445);
  }
  &-caution {
    @include color-alert(#ac4142);
  }
}

dt {
  font-weight: bold;
}
dd::before {
  margin-right: 5px;
  content: "\2192 \00a0";
}
blockquote:has(cite) {
  cite::before {
    content: "\2014 \0020";
  }
}

hr {
  border: 0;
  margin: $spacing-unit auto;
  border-bottom: 1px solid var(--bd-1);
}
kbd {
  padding: 2px 3px;
  border-bottom: 3px solid var(--bd-1);
}
samp {
  color: var(--lk-1);
}
abbr {
  cursor: help;
}
mark {
  padding: 3.5px 0;
}
mark,
::selection {
  color: var(--bg-1);
  background: var(--lk-1);
}
