@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin word-wrap() {
  -ms-word-break: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin breakpoint($breakpoint, $viewport: max) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (#{$viewport}-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin css-var($key, $value) {
  --#{$key}: #{$value};
}

/* prettier-ignore */
@mixin color-theme(
  $scheme: dark,
  $rebase00: #1d1f21,
  $rebase01: #282a2e,
  $rebase02: #373b41,
  $rebase03: #969896,
  $rebase04: #b4b7b4,
  $rebase05: #c5c8c6,
  $rebase06: #e0e0e0,
  $rebase07: #ffffff,
  $rebase08: #cc6666,
  $rebase09: #de935f,
  $rebase0A: #f0c674,
  $rebase0B: #b5bd68,
  $rebase0C: #8abeb7,
  $rebase0D: #81a2be,
  $rebase0E: #b294bb,
  $rebase0F: #a3685a,
  $rebase0G: #d33682,
) {
  color-scheme: #{$scheme};
  --bg-1: #{$rebase00};
  --bg-2: #{$rebase01};
  --bg-3: #{$rebase02};
  --tx-1: #{$rebase05};
  --tx-2: #{$rebase06};
  --tx-3: #{$rebase07};
  --bd-1: #{$rebase02};
  --bd-2: #{$rebase03};
  --bd-3: #{$rebase04};

  --lk-1: var(--blue);
  --lk-2: var(--cyan);
  --lk-3: var(--violet);

  --syntax-error: var(--red);

  @if $scheme == "dark" {
    --syntax-string:  #{$rebase04};
    --syntax-comment: #{$rebase03};
  }

  @else {
    --syntax-string:  #{$rebase04};
    --syntax-comment: #{$rebase04};
  }

  @if $scheme == "dark" {
    --red:     #{$rebase08};
    --orange:  #{$rebase09};
    --yellow:  #{$rebase0A};
    --green:   #{$rebase0B};
    --cyan:    #{$rebase0C};
    --blue:    #{$rebase0D};
    --violet:  #{$rebase0E};
    --brown:   #{$rebase0F};
    --magenta: #{$rebase0G};
  }

  @else {
    --red:     #{darken($rebase08, 10%)};
    --orange:  #{darken($rebase09, 10%)};
    --yellow:  #{darken($rebase0A, 10%)};
    --green:   #{darken($rebase0B, 10%)};
    --cyan:    #{darken($rebase0C, 10%)};
    --blue:    #{darken($rebase0D, 10%)};
    --violet:  #{darken($rebase0E, 10%)};
    --brown:   #{darken($rebase0F, 10%)};
    --magenta: #{darken($rebase0G, 10%)};
  }

  @content;
}
