#post-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent-hover);
    }
  }
  .post-title {
    font-size: 20px;
    margin-bottom: 0.2em;
  }
  .post-title-subhead {
    text-transform: uppercase;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
  }
  .post-description {
    line-height: 1.8em;
  }
  .post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
  }
  .post-tag {
    margin: 0 0.1em;
    border-radius: var(--border-radius);
    color: var(--text-color);
    background: var(--disabled-color);
    font-size: 80%;
    padding: 0.2em 1em;
    &.accent {
      color: #000;
      background: var(--accent-color);
    }
  }
  .post-images {
    margin: 1em 0;
    &-meta {
      margin-top: -3.5em;
      margin-left: 1em;
      color: #fff;
    }
  }
}
