/* Theme Toggles by Alfie Jones <https://github.com/AlfieJones/theme-toggles> */
.theme-toggle {
  --theme-toggle-duration: 600ms;
  background: none;
  border: none;
  bottom: 32px;
  color: var(--text-color);
  position: fixed;
  right: 42px;
  z-index: 1000;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
  }
}
.theme-toggle_expand g circle,
.theme-toggle_expand g path {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle-duration) * 0.65)
    cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle-duration) * 0.35);
}
.theme-toggle_expand :first-child path {
  transition-property: transform, d;
  transition-duration: calc(var(--theme-toggle-duration) * 0.6);
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
}
.theme-toggle_toggled:not(label).theme-toggle .theme-toggle_expand g circle,
.theme-toggle input[type="checkbox"]:checked ~ .theme-toggle_expand g circle {
  transform: scale(1.4);
  transition-delay: 0s;
}
.theme-toggle_toggled:not(label).theme-toggle .theme-toggle_expand g path,
.theme-toggle input[type="checkbox"]:checked ~ .theme-toggle_expand g path {
  transform: scale(0.75);
  transition-delay: 0s;
}
.theme-toggle_toggled:not(label).theme-toggle
  .theme-toggle_expand
  :first-child
  path,
.theme-toggle
  input[type="checkbox"]:checked
  ~ .theme-toggle_expand
  :first-child
  path {
  d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
  transition-delay: calc(var(--theme-toggle-duration) * 0.4);
  transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
}
@supports not (d: path("")) {
  .theme-toggle_toggled:not(label).theme-toggle
    .theme-toggle_expand
    :first-child
    path,
  .theme-toggle
    input[type="checkbox"]:checked
    ~ .theme-toggle_expand
    :first-child
    path {
    transform: translate3d(-9px, 14px, 0);
  }
}
@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}
