@forward "variables";
@forward "colors";

@use "sass:map";
@use "sass:math";
@use "variables" as *;

// Convert px to rem
@function px-to-rem($px) {
  $fs: 16px;

  @if $font-size {
    $fs: $font-size;
  }

  @return math.div($px, $fs) * 1rem;
}

@mixin font-size-clamp($key) {
  $base-size: map.get($font-sizes, $key);
  $clamp-function: "clamp(#{$min-font-size}, #{$base-size}, #{$max-font-size})";
  font-size: #{$clamp-function};
}

@mixin font-size-headings {
  @for $i from 1 through 6 {
    h#{$i} {
      @include font-size-clamp($i);
    }
  }
}

@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-gutter {
  padding: 0;
  margin: 0;
}

@mixin reset-list {
  list-style: none;
  @include reset-gutter();
}

@mixin menu-item($type: list, $gutter: 20px) {
  ol,
  ul {
    @include reset-list;
    display: flex;
    gap: $gutter;
  }

  li {
    @if $type == list {
      display: list-item;
    } @else {
      display: inline-block;
    }
  }
}
