@forward "variables";
@forward "colors";

@use "sass:map";
@use "sass:math";
@use "variables" as var;

@mixin font-headings {
  @each $level, $size in var.$font-sizes {
    h#{$level} {
      font-size: $size;
    }
  }
}

// Function to convert px to rem
@function px-to-rem($px) {
  $fs: 16px; // Default font-size

  @if var.$font-size {
    $fs: var.$font-size;
  }

  // Convert px to rem using math.div for division
  @return math.div($px, $fs) * 1rem;
}

@mixin px-to-rem($px) {
  font-size: px-to-rem($px);
}

// Mixin for clearfix
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// Mixin to reset link styles
@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

// Mixin to reset padding and margin
@mixin reset-gutter {
  padding: 0;
  margin: 0;
}

// Mixin to reset list styles
@mixin reset-list {
  list-style: none;
  @include reset-gutter();
}

// Mixin to center elements using flexbox
@mixin flex-box($justify-content: "") {
  display: flex;
  align-items: center;
  @if $justify-content {
    justify-content: #{$justify-content};
  }

  @content;
}

@mixin flex-center {
  @include flex-box(center);
}

@mixin menu-item($inline: false, $gutter: 10px) {
  ul {
    @include reset-list;
  }

  li {
    @if $inline ==true {
      display: inline-block;
      margin-right: $gutter;

      &:last-child {
        margin-right: 0;
      }
    } @else {
      display: list-item;
      margin-bottom: $gutter;
    }
  }

  @content;
}
