@forward "variables";
@forward "colors";

@use "sass:map";
@use "sass:math";
@use "variables" as *;

// Convert px to rem
@function px-to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

@mixin font-size-clamp($key) {
  $min: $font-size-min;
  $max: $font-size-max;
  $base: map.get($font-sizes, $key);
  $clamp: "clamp(#{$min}, #{$base}, #{$max})";
  font-size: #{$clamp};
}

@mixin font-size-headings {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: math.clamp(
        $font-size-min,
        map.get($font-sizes, $i),
        $font-size-max
      );
      // @include font-size-clamp($i);
    }
  }
}

@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-gutter {
  padding: 0;
  margin: 0;
}

@mixin reset-list {
  list-style: none;
  @include reset-gutter();
}

@mixin menu-item($type: list, $gutter: 20px) {
  ol,
  ul {
    @include reset-list;
    display: flex;
    gap: $gutter;
  }

  li {
    @if $type == list {
      display: list-item;
    } @else {
      display: inline-block;
    }
  }
}
