$heading-sizes: (
  h1: 2rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1rem,
  h6: 0.875rem,
) !default;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Color Scheme Base16 Tomorrow Night
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0A: #f0c674;
$base0B: #b5bd68;
$base0C: #8abeb7;
$base0D: #81a2be;
$base0E: #b294bb;
$base0F: #a3685a;
$base0G: #d33682;

$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji", "Noto Emoji", EmojiOne, "Android Emoji", EmojiSymbols;
$font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica,
  Arial, sans-serif, $font-emoji !default;
$font-mono: "Fira Code", "JetBrains Mono", "Menlo", "Inconsolata", "Consolas",
  "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$font-serif: "Cormorant Garamond", serif !default;
$font-heading: $font-sans;

$font-weight: 400 !default;
$font-size: 16px !default;
$font-size-code: 0.875rem !default;
$font-size-small: calc($font-size * 0.875) !default;

$line-height: 1.5 !default;
$spacing-unit: 20px !default;
$border-radius: 3px !default;
$content-width: map-get($breakpoints, md);
