@use "sass:map";

// Font Family
$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji", "Noto Emoji", EmojiOne, "Android Emoji", EmojiSymbols;
$font-sans: "Lato", "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, $font-emoji, sans-serif;
$font-mono: "Fira Code", "Menlo", "Monaco", "Inconsolata", "Consolas",
  "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$font-serif: "Georgia", "Times New Roman", Times, serif;
$font-heading: "Poppins", $font-sans;

/* Font Sizes */
$font-sizes: (
  0: 18px,
  1: 2rem,
  2: 1.75rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.875rem,
);

$line-height: 1.6;
$font-weight: 400;
$font-size: map.get($font-sizes, 0);
$font-size-min: 0.75rem;
$font-size-max: 2.5rem;
$font-size-small: $font-size * 0.875;

/* Spacings */
$border-radius: 4px;
$spacing-unit: 20px;
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl-s: 1080px,
  xl: 1200px,
);

$min-width: map.get($breakpoints, md);
$max-width: map.get($breakpoints, lg);
