@charset "UTF-8";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$sans-fonts: "Lato", system-ui, -apple-system !default;
$serif-fonts: "Cormorant Garamond", serif !default;
$mono-fonts: "Fira Code", monospace !default;
// $emoji-fonts: !default;
$font-weight: 400 !default;
$font-size: 1rem !default;
$font-small: $font-size * 0.875 !default;

// Layouts
$on-mobile: 600px !default;
$on-desktop: 800px !default;
$line-height: 1.5 !default;
$spacing-unit: 1.875rem !default;
$content-width: $on-desktop !default;

@mixin media-query($device, $on: max) {
  @media screen and (#{$on}-width: $device) {
    @content;
  }
}

@import "reset", "colors", "base", "layout";
