<div id="theme-switcher">
  <button type="button" id="theme-auto" data-theme="auto" aria-label="System mode">
    {% include partials/icon.html id='device-imac' %}
    <span class="visually-hidden">Auto</span>
  </button>
  <button type="button" id="theme-light" data-theme="light" aria-label="Light mode">
    {% include partials/icon.html id='sun' %}
    <span class="visually-hidden">Light</span>
  </button>
  <button type="button" id="theme-dark" data-theme="dark" aria-label="Dark mode">
    {% include partials/icon.html id='moon-stars' %}
    <span class="visually-hidden">Dark</span>
  </button>
</div>
