@use "sass:map";
@use "variables";

@mixin breakpoint($breakpoint: 992px, $viewport: max) {
  @if map.get(variables.$breakpoints, $breakpoint) {
    $breakpoint: map.get(variables.$breakpoints, $breakpoint);
  }

  @media (#{$viewport}-width: $breakpoint) {
    @content;
  }
}

@mixin relative-font($size) {
  font-size: #{$size}rem;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-gutter {
  gap: 0;
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-gutter();
  list-style: none;
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-block {
  display: -webkit-inline-box;
  display: inline-block;
}

@mixin inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin menu-item($type: line) {
  @include reset-list();

  li {
    @if $type == "line" {
      @include inline-block();

      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    } @else if $type == "list" {
      display: block;
      margin-bottom: 10px;
    } @else {
      display: inherit;
      margin: inherit;
    }
  }
}
