blockquote {
  cite::before {
    content: "\2014 \0020";
  }

  &.normal {
    font-style: normal;
  }

  &.italic {
    font-style: italic;
  }
}

code {
  &.filepath {
    background-color: inherit;
    border: inherit;
    color: var(--tx-1);
    font-weight: 600;
    padding: 0;
  }
}

// Fixed `- [x] Task list` from rendering markdown.
.task-list {
  margin-left: 0;
  list-style: none;

  &-unchecked {
    cursor: not-allowed;
  }

  &-item {
    i {
      margin-right: 10px;
    }

    &-checkbox {
      cursor: not-allowed;
      margin-right: 10px;
    }
  }
}

.toc-list {
  li {
    margin-top: 0.5rem;
  }

  a {
    color: var(--lk-1);
    text-decoration: none;

    &:hover {
      color: var(--lk-2);
    }
  }
}

.anchor-link {
  // margin-left: calc(#{$spacing-unit} / 2);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: bold;
  color: var(--bd-1);
  text-decoration: none;

  &:hover {
    color: var(--lk-1);
    text-decoration: none;
  }
}

// Fixed multiple KaTeX output from rendering markdown.
.katex-html {
  display: none;
}

.mermaid {
  svg {
    // display: block;
    margin: 0 auto;
    align-items: center;
    // background-color: red;
  }
}

.emoji {
  height: $font-size;
  width: $font-size;
  display: inline-block;
}
