@use "sass:map";
@use "../mixins" as *;
@use "../variables" as *;
@use "colors";

.alert {
  font: 400 #{$font-size}/#{$line-height} $font-sans;
  color: var(--tx-1);
  background: var(--bg-2);
  border-left: 5px solid var(--bd-1);
  margin: $spacing-unit auto;
  padding: calc(#{$spacing-unit} / 2) $spacing-unit;

  $alerts: map.get(colors.$alerts, "variables");

  @each $name in $alerts {
    &.alert-#{$name} {
      background: var(--alert-bg-#{$name});
      border-left: 5px solid var(--alert-bd-#{$name});
    }

    &-#{$name}-title,
    &-#{$name}-icon {
      color: var(--alert-tx-#{$name});
    }
  }

  > :last-child {
    margin-bottom: 0;
  }

  &-header {
    @include inline-flex;
    align-items: center;

    span {
      font-weight: 700;
      // text-transform: uppercase;
    }

    svg {
      width: 22px;
      height: 22px;
      margin-right: 5px;
      display: inline-flex;
      vertical-align: middle;
    }
  }
}
