@use "../mixins" as *;
@use "../variables" as *;
.footer {
  .social-links li,
  #theme-switcher button {
    padding: 4px 4px;
    margin: 2px !important;
    border-radius: 5px;
    background: var(--bg-1);
  }

  #theme-switcher {
    button {
      position: relative;
      cursor: pointer;
      border: none;
      color: inherit;
      transition: color 0.2s ease;

      // Tooltip
      &[aria-label]::before {
        content: attr(aria-label);
        position: absolute;
        bottom: 115%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5em;
        background: var(--bg-1);
        color: var(--tx-1);
        font-size: 0.8em;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.2s ease;
        white-space: nowrap;
        pointer-events: none;
        /* Ensure tooltip doesn't block click events */
      }

      &:hover::before {
        opacity: 1;
      }

      &:hover,
      &.active {
        background: var(--bg-3);
      }
    }
  }

  svg {
    pointer-events: none;
    color: var(--tx-1);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: text-bottom;
  }

  .visually-hidden {
    // display: inline-flex;
    display: none;
    margin-left: 5px;
  }
}
