---
layout: default
# icon: tags
order: 3
---
<div class="post-archives">
  <h1>{{ page.title }}</h1>

  {% include search.html %}

  <h3>Categories</h3>
  <ul>
    {% for category in site.categories %}
      <li>
        <a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a> ({{ category[1].size }})
      </li>
    {% endfor %}
  </ul>

  <h3>Tags</h3>
  <ul>
    {% for tag in site.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags/{{ tag[0] }}">{{ tag[0] }}</a> ({{ tag[1].size }})
      </li>
    {% endfor %}
  </ul>
</div>
