// Syntax highlighting styles should be adjusted appropriately for every color scheme
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens

.highlight {
  color: #d0d0d0;
  // background-color: var(--background-alt);

  .c,
  .c1,
  .cm,
  .cs,
  .err,
  .ge {
    font-style: italic;
  }
  .cp,
  .cs,
  .gs,
  .k,
  .kc,
  .kd,
  .kp,
  .kr,
  .kt,
  .nc,
  .ne,
  // .nf,
  .o,
  .ow {
    font-weight: bold;
  }

  // Table
  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }

  // General
  &, .w {
    color: #d0d0d0;
  }

  .err {
    color: #151515;
    background-color: #ac4142;
  }

  // Comment
  .c,
  .ch,
  .cd,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: #505050;
  }

  // Constant
  .cp,
  .nt,
  .nn,
  .nc,
  .no {
    color: #f4bf75;
  }

  // Others
  .o, .ow, .p, .pi {
    color: #d0d0d0;
  }

  // Insertion and deletion
  .gi {
    color: #90a959;
  }
  .gd {
    color: #ac4142;
  }

  // Git header
  .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }

  // Keyword
  .k,
  .kn,
  .kp,
  .kr,
  .kv,
  .kc,
  .kt,
  .kd,
  .sa {
    color: #d28445;
  }

  // String
  .s,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1,
  .ss {
    color: #90a959;
  }

  // Special character
  .sr,
  .na {
    color: #75b5aa;
  }
  .si,
  .se {
    color: #8f5536;
  }

  // Number
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mx {
    color: #90a959;
  }
}
