/**
 * Back to top
 */
#back-to-top {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 5px 6px;
  z-index: 2;
  border-radius: 8px;
  background: var(--bg-3);
  color: var(--tx-1);
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  svg {
    width: 24px;
    height: 24px;
    display: block;
    pointer-events: none !important;
  }

  &:hover {
    background: var(--lk-1);
    color: var(--bg-1);
    text-decoration: none;
  }

  &.visible {
    opacity: 1;
  }
}
