@use "../utils" as *;

/**
 * Utility classes
 */

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .center-on-mobiles {
    text-align: center !important;
  }

  .hide-on-mobiles {
    display: none !important;
  }

  .only-on-mobiles {
    display: block !important;
  }
}

/**
 * Footnotes
 */
// a[role="doc-backlink"],
// sup[role="doc-noteref"],
a[href^="#fn"] {
  font-family: sans-serif;
  line-height: 1;
  padding: 1.5px 3px;
  margin-left: 2px;
  border-radius: 2px;

  text-decoration: none;
  background-color: var(--bg-3);
  color: var(--tx-1) !important;

  &:hover {
    background-color: var(--lk-1);
    color: var(--bg-1);
  }
}

.anchor-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

.emoji {
  max-width: $font-size;
  display: inline-block;
  vertical-align: text-bottom;
}
