/**
 * Utility classes
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pfixed {
  position: fixed !important;
  top: 0;
}

.sticky {
  position: sticky !important;
  top: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .center-on-mobiles {
    text-align: center !important;
  }

  .hide-on-mobiles {
    display: none !important;
  }

  .only-on-mobiles {
    display: block !important;
  }
}

/**
 * Footnotes
 */
// a[role="doc-backlink"],
// sup[role="doc-noteref"],
a[href^="#fn"] {
  font-family: sans-serif;
  line-height: 1;
  padding: 1.5px 3px;
  margin-left: 2px;
  border-radius: 2px;

  text-decoration: none;
  background-color: var(--bg-3);
  color: var(--tx-1) !important;

  &:hover {
    background-color: var(--lk-1);
    color: var(--bg-1);
  }
}

/**
 * Mermaid diagram
 */
.mermaid {
  width: 100%;
  display: block;
}

/**
 * Emoji shorthand
 */
.emoji {
  // height: var(--font-size);
  // width: var(--font-size);
  display: inline-block;
  vertical-align: text-bottom;
}
