@use "../utils" as *;

/**
 * Navigation
 */
.site-menu {
  // input
  #menu-toggle {
    display: none;
  }

  // label
  .menu-icon {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 3;

    &::before,
    &::after {
      content: " ";
      display: block;
      background: var(--tx-1);
      margin: 8px 0;
      padding: 1.5px 16px;
      border-radius: 5px;
      transition: 0.5s ease-out;
    }
  }

  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }

    // ul
    .menu-list {
      display: block;
      background-color: var(--bg-2);
      position: fixed;
      z-index: 2;
      padding: 2rem;
      top: 0;
      right: -100%; /* Start from outside the screen */
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      box-sizing: border-box;
      transition: right 0.3s ease-in-out;
      text-align: center;

      a {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    #menu-toggle:checked ~ {
      .menu-list {
        right: 0; /* Slide in from the right */
      }

      .menu-icon {
        &::before,
        &::after {
          position: fixed; /* Fixed position to place the icon */
          bottom: 4rem; /* Adjust the distance from the bottom */
          left: 46.5%; /* Center horizontally */
          transform: translateX(
            -46.5%
          ); /* Center horizontally by shifting left by half of its width */
          margin: 0;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }

        /* &::before {
          transform: translateY(6px) rotate(45deg);
        }
        &::after {
          transform: translateY(-6px) rotate(-45deg);
        } */
      }
    }
  }
}
