@use "sass:map";
@use "colors";

/**
 * TAGS
 */
.post-tags {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: -webkit-inline-flex;
    display: inline-flex;
    line-height: 1.15;
    padding: 4px 5px;
    margin: 3px;
    border-radius: var(--rounded);
    background-color: var(--lk-1);

    @for $i from 8 through 1 {
      $color: map.get(colors.$tag-colors, $i);

      @if $color {
        &:nth-child(#{$i}) {
          background-color: $color;
        }
      }
    }

    // &:nth-child(even) {
    //   background-color: var(--lk-2);
    // }

    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(2px);
      color: inherit;
      background-color: colors.$base-06;
    }
  }

  a {
    color: map.get(colors.$tag-colors, t);

    // &::before {
    //   content: "#";
    // }

    &,
    &:hover {
      text-decoration: none;
    }
  }
}
