@use "utils" as *;

/**
 * Scroll top
 */
#goto-top {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 2rem;
  bottom: 2rem;
  padding: 10px;
  border-radius: 3rem;
  border: none;
  color: var(--base07);
  background: var(--lk-1);
  opacity: 0;
  transition: opacity 0.3s ease-in;

  &:hover {
    background: var(--bd-1);
  }

  &.active {
    opacity: 1;
  }

  svg {
    display: block;
  }
}
