@use "../utils" as *;

/**
 * Search
 */

.blog-search {
  padding-bottom: 2.5rem;
  position: relative;

  %font-style {
    font-family: inherit;
    font-size: px-to-rem(20px);
  }

  div,
  input {
    width: 100%;
  }

  input {
    @extend %font-style;
    padding: 0.9rem 1.8rem;
    background: var(--bg-2);
    color: var(--tx-1);
    outline: none;
    border: 1px solid var(--bd-1);

    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &::placeholder {
      color: var(--tx-2);
    }

    &:focus {
      background: transparent;
      border: 1px solid var(--bd-1);
      border-color: var(--blue);
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:not(:focus) {
      border-radius: $border-radius;
    }
  }

  .blog-search__result {
    position: absolute;
    z-index: 1;
    padding: $spacing-unit;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &:has(li, div) {
      background-color: var(--bg-2);
      border: 1px solid var(--blue);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    ul {
      list-style: disc;
    }

    li {
      overflow: auto;
      word-break: break-all;
      padding: calc(#{$spacing-unit} / 2) $spacing-unit;

      &:hover {
        border-radius: 4px;
        background-color: var(--lk-1);
      }
    }

    a {
      @extend %font-style;
      color: var(--tx-1);
    }
  }

  .blog-search__no-results {
    @extend %font-style;
    color: var(--tx-2);
    list-style: none;
    text-align: center;

    span:nth-child(1) {
      font-weight: normal;
    }

    span:nth-child(2) {
      font-weight: bold;
    }
  }
}
