@use "../utils" as *;

/**
 * Search
 */

.site-search {
  margin-bottom: $spacing-unit;
  position: relative;

  %font-size {
    font-size: px-to-rem(22px);
  }

  &:has(li, input) {
    border-radius: 8px;
  }

  input {
    @extend %font-size;
    padding: 1rem 2rem;
    width: 100%;
    color: var(--tx-1);
    background: var(--bg-2);
    outline: none;
    border: 1px solid var(--bd-1);

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &::placeholder {
      color: var(--tx-2);
    }

    &:not(:focus) {
      border-radius: $border-radius;
    }

    &:focus {
      border: 1px solid var(--bd-1);
      border-color: var(--blue);
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .result-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: $spacing-unit;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &:has(li, div) {
      background-color: var(--bg-2);
      border: 1px solid var(--blue);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    ul {
      list-style: decimal;
    }
    li {
      @extend %font-size;
      padding: 0 $spacing-unit;
      color: var(--tx-1);

      &:hover {
        border-radius: 4px;
        background-color: var(--lk-1);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .no-results {
    @extend %font-size;
    color: var(--tx-2);
    text-align: center;

    span:nth-child(1) {
      font-weight: normal;
    }

    span:nth-child(2) {
      font-weight: bold;
    }
  }
}
