@use "../utils" as *;
/**
 * Theme toggle
 */
.theme-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: var(--tx-1);

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  svg,
  span {
    pointer-events: none;
  }

  button {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--bg-3);
    background-color: transparent;

    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: var(--bg-3);
    }
  }
}
