.theme-switcher {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 5px;
  gap: 10px; /* Adjust spacing between buttons */
}

.theme-switcher-button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  position: relative;

  &.active {
    background: var(--bg-3);
    border-radius: 5px;
    // border-bottom: 2px solid var(--tx-1); /* Active button indicator */
  }
}
