@use "../utils" as *;
/**
 * Theme toggle
 */
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  :not(button) {
    pointer-events: none;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    padding: 4px 8px;
    border: 1px solid var(--bg-3);
    border-radius: 4px;

    &.active {
      background-color: var(--bg-3);
    }
  }
}
