<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    <div class="wrap md">
      {%- include header.html -%}
      <main class="main">
        <div class="grid">
          {%- if page.layout == 'post' -%}
            <div class="unit one-quarter sidebar">
              {%- include sidebar.html -%}
            </div>
          {%- endif -%}
          <div class="unit whole content">
            {{- content | custom_content -}}
          </div>
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include script.html -%}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
