<!doctype html>
<html lang="{{- page.lang | default: site.lang | default: 'en' -}}" data-theme="dark">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      {% include navigation.html %}
      {% comment %} <h1>{{ site.title }}</h1> {% endcomment %}
      {% comment %} <p>{{ site.tagline | default: site.description }}</p> {% endcomment %}
      {% comment %} <h1>{{ page.title | default: site.title }}</h1> {% endcomment %}
      {% comment %} <p>{{ page.description | default: site.description }}</p> {% endcomment %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
    {% include script.html %}
  </body>
</html>
