---
layout: default
---
<section>
  <div class="post-list">
    {% for post in site.posts %}
      <div class="post-item">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if site.show_excerpts %}
            {% assign post_excerpt = post.content | strip_html | truncatewords: 30 %}
            {% if post_excerpt.size > 3 %}
              <p class="post-summary">{{ post_excerpt }}</p>
            {% endif %}
          {% endif %}
        </a>
        <div class="post-meta">
          <span class="post-date">
            {{ post.date | date: '%d %B %Y' }}
            {% if post.tags != empty %}
              <span itemprop="articleSection">
                &comma;
                {% for tag in post.tags %}
                  <a itemprop="url" href="/tags/{{- tag -}}/">{{- tag -}}</a>
                  {%- unless forloop.last %}&comma; {% endunless -%}
                {% endfor %}
              </span>
            {% endif %}
          </span>
          <span class="post-author">
            {% if site.author.name and site.author.url %}
              <a href="{{- site.author.url -}}">{{- site.author.name -}}</a>
            {% else %}
              {{- post.author -}}
            {% endif %}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
