---
layout: default
---
<style>
  .post-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  .post-item {
    background-color: var(--background-alt);
    border: 1px solid var(--border-color);
    transition: background-color 0.2s;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .post-item:hover {
    background-color: var(--background);
  }
  .post-link {
    text-decoration: none;
    color: inherit;
  }
  .post-title {
    margin: 0;
    font-size: 1.4rem;
    color: var(--link-color);
  }
  .post-summary {
    font-size: 0.9rem;
    margin: 10px 0;
    color: var(--text-color);
  }
  .post-meta {
    display: flex;
    justify-content: space-between;
    /* color: var(--second-color); */
    font-size: 0.9rem;
  }
</style>
<div class="post-list">
  {% for post in site.posts %}
    <div class="post-item">
      <a href="{{ post.url | relative_url }}" class="post-link">
        <h2 class="post-title">{{ post.title }}</h2>
        {% assign post_excerpt = post.content | strip_html | truncatewords: 30 %}
        {% if post_excerpt.size > 3 %}
          <p class="post-summary">{{ post_excerpt }}</p>
        {% endif %}
      </a>
      <div class="post-meta">
        <span class="post-date">
          {{ post.date | date: '%d %B %Y' }}
          {% if post.tags != empty %}
            <span itemprop="articleSection">
              &comma;
              {% for tag in post.tags %}
                <a itemprop="url" href="/tag/{{- tag -}}/">{{- tag -}}</a>
                {%- unless forloop.last %}&comma; {% endunless -%}
              {% endfor %}
            </span>
          {% endif %}
        </span>
        <span class="post-author">
          {% if site.author.name and site.author.url %}
            <a href="{{- site.author.url -}}">{{- site.author.name -}}</a>
          {% else %}
            {{- post.author -}}
          {% endif %}
        </span>
      </div>
    </div>
  {% endfor %}
</div>
