---
layout: base
---
{%- assign date_format = site.date_format | default: '%b %d, %Y' %}
<article
  class="unit post"
  itemscope
  itemtype="http://schema.org/BlogPosting"
  itemid="{{ page.url | relative_url }}"
>
  <header>
    {% include breadcrumb.html %}
    {% comment %} <span class="keywords" itemprop="keywords" hidden>{{ page.tags | join: ', ' }}</span> {% endcomment %}
    <span class="keywords" itemprop="keywords">
      {%- for tag in page.tags %}
        <a href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a>
        {%- unless forloop.last -%}
          <span>,</span>
        {%- endunless -%}
      {%- endfor %}
    </span>
    <h1 class="page-heading" itemprop="headline">{{ page.title }}</h1>
    <div class="post-meta">
      <p>
        Published
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {{- page.date | date: date_format -}}
        </time>
        , by
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <a itemprop="url" href="{{ site.author.url | default: site.url }}">
            <span itemprop="name">{{ site.author.name | default: page.author }}</span>
          </a>
        </span>
      </p>
      {%- if page.image.src or page.image %}
        {%- include image.html %}
      {%- endif %}
    </div>
  </header>
  <section itemprop="articleBody">
    {%- capture toc_mobile %}
    {{ page.excerpt }}
    {%- include toc.html mobile=true %}
    {%- endcapture %}
    {%- if page.excerpt.size > 0 %}
      {{ content | replace: page.excerpt, toc_mobile }}
    {%- else %}
      {{ toc_mobile }}
      {{ content }}
    {%- endif %}
  </section>
  <footer>
    <p>
      Modified
      <time itemprop="dateModified" datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {{- page.last_modified_at | date: date_format -}}
      </time>
    </p>
    {% include pagination.html %}
    {%- include comments.html %}
  </footer>
</article>
<aside class="unit side">
  {%- include toc.html mobile=false %}
</aside>
