---
layout: default
---
{%- assign format = site.date_format | default: '%b %d, %Y' %}
{%- assign src = page.image.url | default: page.image %}
{%- assign alt = page.image.alt | default: page.title %}
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <div class="post-meta">
      {%- if src %}
        {% include figure.html src=img alt=alt str=alt %}
      {%- endif %}
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {{- page.date | date: format -}}
      </time>
      (last modified
      <time itemprop="dateModified" datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {{- page.last_modified_at | date: format -}}</time
      >) by
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <a itemprop="url" href="{{ site.author.url | default: site.url }}">
          <span itemprop="name">{{ site.author.name | default: page.author }}</span>
        </a>
      </span>
    </div>
  </header>
  <section itemprop="articleBody">
    {% include toc.html mobile=true %}
    {{ content }}
  </section>
  <footer>
    <p>
      Tags: <span itemprop="keywords"> {{ page.tags | join: ', ' }}</span>
    </p>
    {%- if page.comments == true and site.comments.provider %}
      <div
        {% if site.comments.provider == 'disqus' %}
          id="disqus_thread"
        {% else %}
          id="site-comment"
        {% endif %}
        class="{{ site.comments.provider }}"
        pageid="{{ page.url | relative_url }}"
        itemscope
        itemtype="https://schema.org/Comment"
      ></div>
    {%- endif %}
  </footer>
</article>
<aside class="sidebar">
  {% include toc.html mobile=false %}
</aside>
