@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"),
    url("../fonts/georgia/georgia.woff") format("woff");
}

@font-face {
  font-family: "Georgia Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Italic"),
    url("../fonts/georgia/georgiai.woff") format("woff");
}

@font-face {
  font-family: "Georgia Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold"),
    url("../fonts/georgia/georgiab.woff") format("woff");
}

@font-face {
  font-family: "Georgia Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold Italic"),
    url("../fonts/georgia/georgiaz.woff") format("woff");
}
