/**
 * Site footer
 */

.footer-heading {
  font-size: 1.125;
  margin-bottom: $spacing-unit * 0.5;
}

.feed-subscribe .icon-svg {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375;
  color: var(--tx-1);
}

.footer-col {
  margin-bottom: $spacing-unit * 0.5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@include breakpoint(lg, min) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@include breakpoint(md, min) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * 0.5);

    &:first-child {
      padding-right: $spacing-unit * 0.5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * 0.5;
    }
  }
}
