.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header,
.footer {
  background-color: var(--bg-2);
}

.header {
  padding: $spacing-unit 0;
  border-bottom: 1px solid var(--bd-1);
  margin-bottom: $spacing-unit;
}

.footer {
  padding: $spacing-unit 0;
  margin-top: $spacing-unit;
  border-top: 1px solid var(--bd-1);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(md, max) {
    display: inline-flex;
    justify-content: space-around;

    li {
      margin-top: 10px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: 0;
  }

  li {
    display: inline-block;
    margin-right: $spacing-unit;

    &:last-child {
      margin-right: 0;
    }
  }

  a:not(.brand),
  a:not(.logo) {
    color: var(--tx-1);
    text-decoration: none;

    &:hover {
      color: var(--lk-1);
    }

    &.current {
      font-weight: bold;
      color: var(--lk-1);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
    }
  }

  label[for="theme-toggle"] {
    cursor: pointer;

    input {
      display: none;

      &:checked + svg {
        .icon-moon {
          display: block;
        }

        .icon-sun {
          display: none;
        }
      }
    }

    svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;

      .icon-moon {
        display: none;
      }
    }
  }
}

.brand {
  font: 400 #{calc($font-size * 2)}/#{$line-height} $font-serif;
  color: var(--tx-1);
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.external-link,
.external-link svg {
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.center {
  text-align: center;
}

/**
 * Grid helpers
 */
@include breakpoint(lg, min) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
