/**
 * Pagination navbar
 */
.pagination {
  margin-top: 50px;
  margin-bottom: $spacing-unit;
  @extend .social-media-list;

  li {
    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }

    div {
      display: block;
      padding: $spacing-unit * 0.25;
      border: 1px solid transparent;

      &.pager-edge {
        cursor: not-allowed;
        color: var(--bd-1);
        border: 1px dashed;
      }
    }
  }
}
