@charset "utf-8";
// Hook to override predefined variables.

// Fonts
@import url("../fonts/lato/lato.min.css");
@import url("../fonts/cormorant-garamond/cormorant_garamond.min.css");
@import url("../fonts/jetbrains-mono/jetbrains-mono.min.css");
@import url("../fonts/fira-code/fira_code.min.css");
$font-sans: Lato, Arial, system-ui, -apple-system !default;
$font-serif: "Cormorant Garamond", serif !default;
$font-mono: "JetBrains Mono", "Fira Code", Consolas, monospace !default;
$font-size: 16px !default;
$font-small: $font-size * 0.875 !default;
$font-weight: 400 !default;
$line-height: 1.5 !default;
$border-radius: 3px !default;

// Layouts
$spacing-unit: 30px;
$on-laptop: 479px;
$on-laptop: 833px;
$on-laptop: $on-laptop !default;

// Import pre-styling-overrides hook and style-partials.
/* prettier-ignore */
@import
  "libs/colors", // Defines color scheme and css variables.
  "variables",   // Hook to override predefined variables.
  "libs/base",   // Defines element resets.
  "libs/layout", // Defines structure and style based on CSS selectors.
  "styles"       // Hook to override existing styles.
;
